---
layout: main
---

<!DOCTYPE html>

		  {% for post in paginator.posts %}
<div class="post type-post status-publish format-standard hentry">

<h2 class="entry-title">
	<a href="{{post.url}}" title="Permalink to New scriptcs script pack – MemberPrint" rel="bookmark">
		{{post.title}}
	</a>
</h2>

<div class="entry-meta">
	<span class="meta-prep meta-prep-author">Posted on</span> <span class="entry-date">{{ post.date | date_to_string }}</span> <span class="meta-sep">by</span> <span class="author vcard">{{ post.author.display_name }}</span></div>

	<div class="entry-content">
		{{post.content}}
	</div>
</div>


			  
		  {% endfor %}

			<div class="pagination-links">
				{% if paginator.previous_page_path %}
				<a href="{{ paginator.previous_page_path }}">&lt;- Newer</a> | 
				{% endif %}
				<a href="{{ paginator.next_page_path }}"> Older -&gt;</a>
			</div>
			