---
layout: main
status: publish
published: true
title: Contact
author:
  display_name: Martin Doms
  login: Martin Doms
  email: iamaelephant@gmail.com
  url: http://martindoms.com
author_login: Martin Doms
author_email: iamaelephant@gmail.com
author_url: http://martindoms.com
wordpress_id: 869
wordpress_url: http://blog.martindoms.com/?page_id=869
date: '2013-01-13 14:02:54 +1100'
date_gmt: '2013-01-13 01:02:54 +1100'
---
<p>I can be reached by email at <a href="mailto:contact@martindoms.com">contact@martindoms.com</a><br />
I'm also on Twitter at <a href="http://twitter.com/MartinDoms">@MartinDoms</a></p>
