  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Martin Doms">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@MartinDoms">
    <meta name="twitter:creator" content="@MartinDoms">
    {% if page.title %}
    <meta name="twitter:title" content="{{ page.title }}">
    {% else %}
    <meta name="twitter:title" content="{{ site.title }}">
    {% endif %}
    {% if page.url %}
    <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
    {% endif %}
    {% if page.description %}
    <meta name="twitter:description" content="{{ page.description }}">
    {% else %}
    <meta name="twitter:description" content="{{ site.description }}">
    {% endif %}
    {% if page.image %}
    <meta name="twitter:image:src" content="{{ site.url }}/{{ page.image }}">
    {% endif %}
    <title>{% if page.title %}{{ page.title }} | {% endif %}Martin Doms - Blog</title>
    
    <link rel="stylesheet" href="/resources/style.css" type="text/css">
  </head>