<div class="menu-header">
	<ul id="menu-list" class="menu">
		<li class="menu-item"><a href="/">Home</a></li>
		<li class="menu-item"><a href="/contact">Contact</a></li>
		<li class="menu-item"><a href="/feed.xml">Feed</a></li>
	</ul>
</div>
