body {color:#444444;font-size:16px;font-family:"Segoe UI", Verdana, Arial, Helvetica, sans-serif;font-weight:normal;font-style:normal;background-color:#fcfcfc;}h1 {color:#181818;font-size:40px;font-family:"Segoe UI", Verdana, Arial, Helvetica, sans-serif;font-weight:normal;font-style:normal;}h2 {color:#181818;font-size:30px;font-family:"Segoe UI", Verdana, Arial, Helvetica, sans-serif;font-weight:normal;font-style:normal;}h3 {color:#181818;font-size:28px;font-family:"Segoe UI", Verdana, Arial, Helvetica, sans-serif;font-weight:normal;font-style:normal;}h4 {color:#181818;font-size:21px;font-family:"Segoe UI", Verdana, Arial, Helvetica, sans-serif;font-weight:bold;font-style:bold;}h5 {color:#181818;font-size:17px;font-family:"Segoe UI", Verdana, Arial, Helvetica, sans-serif;font-weight:bold;font-style:bold;}
a,a:link,a:visited,a:active,#content .gist .gist-file .gist-meta a:visited {color: #1b66c2;}

#wrap #content {float:left;}
#wrap #sidebar {float:right;}
#wrap #sidebar .widget-container {margin-left: 20px;margin-right: 0px;}
#site-title a {
	color: #000000;
}



/* #Base 960 Grid 
================================================== */

    .container                                  { position: relative; width: 960px; margin: 0 auto; padding: 0; }
    .column, .columns                           { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
    .row                                        { margin-bottom: 20px; }
    
    /* Nested Column Classes */
    .column.alpha, .columns.alpha               { margin-left: 0; }
    .column.omega, .columns.omega               { margin-right: 0; }
    
    /* Base Grid */
    .container .one.column                      { width: 40px;  }
    .container .two.columns                     { width: 100px; }
    .container .three.columns                   { width: 160px; }
    .container .four.columns                    { width: 220px; }
    .container .five.columns                    { width: 280px; }
    .container .six.columns                     { width: 340px; }
    .container .seven.columns                   { width: 400px; }
    .container .eight.columns                   { width: 460px; }
    .container .nine.columns                    { width: 520px; }
    .container .ten.columns                     { width: 580px; }
    .container .eleven.columns                  { width: 640px; }
    .container .twelve.columns                  { width: 700px; }
    .container .thirteen.columns                { width: 760px; }
    .container .fourteen.columns                { width: 820px; }
    .container .fifteen.columns                 { width: 880px; }
    .container .sixteen.columns                 { width: 940px; }
    
    .container .one-third.column                { width: 300px; }
    .container .two-thirds.column               { width: 620px; }
    
    /* Offsets */   
    .container .offset-by-one                   { padding-left: 60px;  }
    .container .offset-by-two                   { padding-left: 120px; }
    .container .offset-by-three                 { padding-left: 180px; }
    .container .offset-by-four                  { padding-left: 240px; }
    .container .offset-by-five                  { padding-left: 300px; }
    .container .offset-by-six                   { padding-left: 360px; }
    .container .offset-by-seven                 { padding-left: 420px; }
    .container .offset-by-eight                 { padding-left: 480px; }
    .container .offset-by-nine                  { padding-left: 540px; }
    .container .offset-by-ten                   { padding-left: 600px; }
    .container .offset-by-eleven                { padding-left: 660px; }
    .container .offset-by-twelve                { padding-left: 720px; }
    .container .offset-by-thirteen              { padding-left: 780px; }
    .container .offset-by-fourteen              { padding-left: 840px; }
    .container .offset-by-fifteen               { padding-left: 900px; }
    
    
    
/* #Tablet (Portrait)
================================================== */   

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .container                                  { width: 768px; }
        .container .column,
        .container .columns                         { margin-left: 10px; margin-right: 10px;  }
        .column.alpha, .columns.alpha               { margin-left: 0; margin-right: 10px; }
        .column.omega, .columns.omega               { margin-right: 0; margin-left: 10px; }
    
        .container .one.column                      { width: 28px; }
        .container .two.columns                     { width: 76px; }
        .container .three.columns                   { width: 124px; }
        .container .four.columns                    { width: 172px; }
        .container .five.columns                    { width: 220px; }
        .container .six.columns                     { width: 268px; }
        .container .seven.columns                   { width: 316px; }
        .container .eight.columns                   { width: 364px; }
        .container .nine.columns                    { width: 412px; }
        .container .ten.columns                     { width: 460px; }
        .container .eleven.columns                  { width: 508px; }
        .container .twelve.columns                  { width: 556px; }
        .container .thirteen.columns                { width: 604px; }
        .container .fourteen.columns                { width: 652px; }
        .container .fifteen.columns                 { width: 700px; }
        .container .sixteen.columns                 { width: 748px; }
        
        .container .one-third.column                { width: 236px; }
        .container .two-thirds.column               { width: 492px; }
        
        /* Offsets */   
        .container .offset-by-one                   { padding-left: 48px; }
        .container .offset-by-two                   { padding-left: 96px; }
        .container .offset-by-three                 { padding-left: 144px; }
        .container .offset-by-four                  { padding-left: 192px; }
        .container .offset-by-five                  { padding-left: 240px; }
        .container .offset-by-six                   { padding-left: 288px; }
        .container .offset-by-seven                 { padding-left: 336px; }
        .container .offset-by-eight                 { padding-left: 348px; }
        .container .offset-by-nine                  { padding-left: 432px; }
        .container .offset-by-ten                   { padding-left: 480px; }
        .container .offset-by-eleven                { padding-left: 528px; }
        .container .offset-by-twelve                { padding-left: 576px; }
        .container .offset-by-thirteen              { padding-left: 624px; }
        .container .offset-by-fourteen              { padding-left: 672px; }
        .container .offset-by-fifteen               { padding-left: 720px; }
    }
    
    
/*  #Mobile (Portrait) 
================================================== */
    
    /* Note: Design for a width of 320px */
    
    @media only screen and (max-width: 767px) {
        .container { width: 300px; }
        .columns, .column { margin: 0; }
        
        .container .one.column,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns, 
        .container .one-third.column, 
        .container .two-thirds.column  { width: 300px; }
        
        /* Offsets */   
        .container .offset-by-one,              
        .container .offset-by-two,                  
        .container .offset-by-three,                
        .container .offset-by-four,                     
        .container .offset-by-five,                     
        .container .offset-by-six,                  
        .container .offset-by-seven,                
        .container .offset-by-eight,                
        .container .offset-by-nine,                     
        .container .offset-by-ten,                  
        .container .offset-by-eleven,               
        .container .offset-by-twelve,               
        .container .offset-by-thirteen,             
        .container .offset-by-fourteen,             
        .container .offset-by-fifteen { padding-left: 0; }          
                
    }    
    
    
/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */
    
    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .container { width: 460px; }
        .columns, .column { margin: 0; }
        
        .container .one.column,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column, 
        .container .two-thirds.column { width: 460px; }
    }
     
    
/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; } 
    
    /* Use clearfix class on parent to clear nested columns, 
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row, 
    .clearfix {
      zoom: 1; }
      
    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }
 
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	/*ol, ul {
		list-style: none; }*/
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }
	table.pad td {
	padding: 10px;
	}
		
	pre,code {
		background-color: #ededed;
		display: block;
		width: 100%;
		font: 14px/18px Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
	}
	pre {
		overflow-y: hidden;
		overflow-x: scroll;
	}
}
p code {display: inline;}
.code-top-caption {
	margin:20px 20px 0px 0px;
}


body {
	line-height: 150%;
	-webkit-text-size-adjust: 100%;
}


#header {
	clear: both;
	margin-top: 5px;
}* Give the main wrapper a separate background color */

#wrap {}

#site-title {
	margin: 0;
	padding: 0;
	font-size: 60px;
	line-height: 55px;
	letter-spacing: -1px;
}

#header #site-title a:hover {
	color: #3253ad;
}	


#navigation ul {
    position: relative;
}	

#navigation ul li {
    position: relative;
}

#navigation ul li a {
	background-image: none;
	padding: 5px 0px 5px 0px;
        margin-right: 50px;
	text-decoration: none;
	display: block;
        text-transform:lowercase;
}

/* Navbar Hover Links */

#navigation ul li:hover a,
#navigation ul li a:hover {
	color: #545454;
	background: #f1f1f1;
    position: relative;
}

#navigation ul li:hover li a {
	color: #595959;
	font-weight: normal;
}

/* Navbar Active Links */

#navigation ul li.active a {
	color: #333;
	background: #fff;
}


/* @group Typography */

	h1, h2, h3, h4, h5 { 
		
	}
	
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: inherit;
	text-decoration: none;
	}
	
	h2.entry-title a {
	font-weight: lighter;
	}
	
	
	h1 {line-height: 140%; margin-bottom: 14px;}
	h2 {line-height: 130%; margin-bottom: 6px; }
	h3 {line-height: 130%; margin-bottom: 8px; }
	h4 {line-height: 125%; margin-bottom: 8px; }
	h5 {line-height: 120%; margin-bottom: 8px;}
	
	h6 {
		font-size: 14px;
		line-height: 120%;
		margin-bottom: 8px;
		color: inherit;
		font-weight: bold;
		text-transform: uppercase;
		color: #375199;
	}
	.subheader { color: #777; }
	.normal {font-weight: normal;}
	.bolder {font-weight: bolder;}
	
	p { margin: 0 0 20px 0; }
	p img { margin: 0; }
	p.lead { font-size: 21px; line-height: 27px; color: #777;  }
	
	em { font-style: italic; }
	strong { font-weight: bold; color: #333; }
	small { font-size: 80%; }
	
/*	Blockquotes  */
	blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
	blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
	blockquote cite { display: block; font-size: 12px; color: #555; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }
	
	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }


/* #Links
================================================== */
	a, a:visited {text-decoration: underline; outline: 0; }
	a:hover, a:focus { color: #000; text-decoration: none;}
	p a, p a:visited { line-height: inherit; }
	

/* #Lists
================================================== */
	ul, ol { margin-bottom: 20px; margin-left:20px; }
	/*ul { list-style: none outside; }*/
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul { margin: 4px 0 5px 30px;}
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-bottom: 6px; }
	li { line-height: 18px; margin-bottom: 12px; }
	ul.large li { line-height: 21px; }
	li p { line-height: 21px; }
	
/* # Image Alignment Classes
============================================================== */

.alignright {
	float: right;
	margin: 0px 0px 10px 15px;
}

.alignleft {
	float: left;
	margin: 0px 15px 10px 0px;
}
.aligncenter {
	display:block;
	margin:0 auto;
}


/* #Media Queries
================================================== */
	
	/* iPad Portrait/Browser */
	@media only screen and (min-width: 768px) and (max-width: 991px) {
	
	/*#navigation ul {border-radius:0px;}
	#navigation ul li a {font-size: .9em;padding: 10px 15px;}
	#navigation ul {min-width: 700px;}*/
	#sidebar .widget-container {margin-left: 0px;}
	.resize {display: none;}
	#respond textarea {width:auto;}	
	
	/* jigoshop styles */
	#header .site-desc.text {font-size: 1.25em;}
	
	}
	
	
	/* Mobile/Browser */
	@media only screen and (max-width: 767px) {
	
	#wrap {}
	#header .site-desc.text {font-size: 1.25em;}
	/*#navigation {margin: 10px 0px;}
	
	#navigation ul,
	#navigation ul li,
	#navigation ul li a {
	float: none;
	background: transparent;
	border: none;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	behavior:none;
	}
	
	#navigation ul li a,
	#navigation ul li.active a,
	#navigation ul li a:hover,
	#navigation ul li:hover a {
	border: none;
	padding: 2px 0;
	line-height: 150%;
	background: transparent;
	background-image: none;
	}*/
	
	/* Initial reset and hide sublevels in mobile view */
	
	#navigation ul.sub-menu,
	#navigation ul.sub-menu li,
	#navigation ul.sub-menu li:hover,
	#navigation ul.sub-menu li a,
	#navigation ul.sub-menu li a:hover
	 {
		display: none;
		position: relative;
		left: 0px;
		line-height: 100%;
		background: none;
		border: none;
		border-style: none;
		box-shadow:none;
		padding: 0;
		margin: 0;
		height: auto;
		background-image: none;
	}
	
	/* Declare new padding for submenu items */

	#navigation ul.sub-menu li a,
	#navigation ul.sub-menu li a:hover {
		padding: 4px 0px 4px 10px;
	}
	
	/* Show on hover */
	
	#navigation li:hover ul.sub-menu,
	#navigation li:hover ul.sub-menu li,
	#navigation li:hover ul.sub-menu li a {
		display: inline-block;
	}
	#respond textarea {width:300px;}	


	
	#wrap .products li,.products li.first,.products li.last {
 	float: left;
 	clear: both;
	margin: 20px 0px 20px 0px;
	width: 100%;
	}
	#breadcrumb {display: none;}

	#sidebar .widget-container {margin-left: 0px;}
	.full-width,
	.one_half,
	.one_third,
	.two_thirds,
	.three_fourths,
	.one_fourth,
	.one_fifth,
	.two_fifth,
	.three_fifth,
	.four_fifth,
	.one_sixth,
	.five_sixth {width: 100%;}
	.resize {display: none;}

	}
	
	/* Mobile Landscape/Browser */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}
	
	/* Anything smaller than standard 960 */
	@media only screen and (max-width: 959px) {}
	
	/* iPad Portrait Only */
	@media only screen and (min-width: 768px) and (max-width: 991px) and (max-device-width: 1000px) {}
	
	/* Mobile Only */
	@media only screen and (max-width: 767px) and (max-device-width: 1000px) {}
	
	/* Mobile Landscape Only */
	@media only screen and (min-width: 480px) and (max-width: 767px) and (max-device-width: 1000px) {}
	

/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file 
		Just create a "fonts" folder at the root, 
		copy your FontName into code below and remove
		comment brackets */
		
/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/

/* @override http://slate.com/wp-content/themes/skeleton/formalize.css?ver=1.3 */

/* `Widths
----------------------------------------------------------------------------------------------------*/

.input_tiny {
  width: 50px;
}

.input_small {
  width: 100px;
}

.input_medium {
  width: 150px;
}

.input_large {
  width: 200px;
}

.input_xlarge {
  width: 250px;
}

.input_xxlarge {
  width: 300px;
}

.input_full {
  width: 100%;
}

/*
  Added via JS to <textarea> and class="input_full".
  Applies only to IE7. Other browsers don't need it.
*/
.input_full_wrap {
  display: block;
  padding-right: 8px;
}

/* `UI Consistency
----------------------------------------------------------------------------------------------------*/

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="search"]::-webkit-search-decoration {
  display: none;
}

input,
button,
select,
textarea {
  vertical-align: middle;
}

input[type="radio"],
input[type="checkbox"] {
  position: relative;
  vertical-align: top;
  top: 3px;
  /* IE8, IE9, IE10 */
  top: 0\0;
  /* IE7 */
  *top: -3px;
}

/* iPad */
@media (-webkit-min-device-pixel-ratio: 1) and (max-device-width: 1024px) {
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: baseline;
    top: 2px;
  }
}

/* iPhone 3 */
@media (-webkit-min-device-pixel-ratio: 1) and (max-device-width: 480px) {
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: baseline;
    top: 0;
  }
}

/* iPhone 4 */
@media (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 480px) {
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: baseline;
    top: 0;
  }
}

button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  background: #ddd url(images/button.png) repeat-x;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ddd));
  background: -moz-linear-gradient(top center, #fff 0%, #ddd 100%);
  border: 1px solid;
  cursor: pointer;
  color: #5c5c5c;
  /*
    Helvetica Neue present, because it works better
    for line-height on buttons than Arial, on OS X.
  */
  font: bold 12px/1.3 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
  outline: 0;
  overflow: visible;
  padding: 3px 10px;
  text-shadow: #fff 1px 1px 0;
  width: auto;

  /* IE7 */
  *padding-top: 2px;
  *padding-bottom: 0px;
	border-bottom-color: #cbcbcb;
	border-right-color: #c9c9c9;
	border-left-color: #c9c9c9;
	border-top-color: #d4d4d4;
}

button {
  /* IE7 */
  *padding-top: 1px;
  *padding-bottom: 1px;
}

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="input"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-appearance: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: #000;
  outline: 0;
  padding: 2px 3px;
  font-size: 13px;
  /*
    Leaving out Helvetica Neue, to not throw off size="..."
    on inputs. Arial is more reliable, on Windows and OS X.
  */
  font-family: Arial, 'Liberation Sans', FreeSans, sans-serif;
  height: 2.3em;

  /* IE7 */
  *padding-top: 2px;
  *padding-bottom: 1px;
  *height: auto;
}

/*
  Separate rule for Firefox.
  Separate rule for IE, too.
  Cannot stack with WebKit's.
*/
::-webkit-input-placeholder {
  color: #888;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888;
}

input.placeholder_text,
textarea.placeholder_text {
  color: #888;
}

:invalid {
  /*
    Suppress red glow that Firefox
    adds to form fields by default,
    even when user is still typing.
  */
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

button:focus,
button:active,
input:focus,
input:active,
select:focus,
select:active,
textarea:focus,
textarea:active {
  -moz-box-shadow: #06f 0 0 7px;
  -webkit-box-shadow: #06f 0 0 7px;
  box-shadow: #06f 0 0 7px;

  /* for Opera */
  z-index: 1;
}

input[type="file"]:focus,
input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

select[disabled],
textarea[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #eee;
}

button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled] {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: #888;
  cursor: default;
}

textarea,
select[size],
select[multiple] {
  height: auto;
}

/* Tweaks for Safari + Chrome. */
@media (-webkit-min-device-pixel-ratio: 0) {
  select {
    background-image: url(images/select_arrow.gif);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
  }

  select[size],
  select[multiple] {
    background-image: none;
    padding: 0;
  }

  ::-webkit-validation-bubble-message {
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666), color-stop(1, #000));
    border: 1px solid;
    border-color: #747474 #5e5e5e #4f4f4f;
    color: #fff;
    font: 11px/1 'Lucida Grande', Arial, 'Liberation Sans', FreeSans, sans-serif;
    padding: 15px 15px 17px;
    text-shadow: #000 0 0 1px;
  }

  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #666;
    border: 0;
  }
}

textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 100%;
}

optgroup {
  color: #000;
  font-style: normal;
  font-weight: normal;
}


/* @override 
	http://slate.com/wp-content/themes/skeleton/superfish.css?ver=1.3
*/

/* @group Main Menu */

/* Main Menu */

#navigation {position: relative;}

#navigation ul,
#navigation ul li,
#navigation ul ul {list-style: none;margin: 0;padding: 0;}

#navigation ul {position: relative;z-index: 1000;}

#navigation ul li {zoom: 1}

#navigation_wrap {position: relative;z-index: 9000;}

#navigation_wrap.right ul.menu {float: right;}

#navigation_wrap.below {padding: 0;}

#navigation ul li.hover, #navigation ul li:hover {position: relative;z-index: 9999;cursor: default;}

#navigation ul, #navigation ul li, #navigation ul ul {
	list-style: none;
	margin: 0;
	padding: 0;
}


#navigation li {
	margin: 0;
	float: left;
	zoom: 1;
}


#navigation ul li.hover, #navigation ul li:hover {
	position: relative;
	z-index: 9999;
	cursor: default;
}

#navigation ul ul {
	visibility: hidden;
	position: absolute;
	min-width: 200px;
	z-index: 9998;
	width: auto;
	font-size: 13px;
	padding: 0px;
}

#navigation ul li li a {
	display: block;
	text-decoration: none;
	position: relative;
	border-right: none;
}



#navigation ul ul li {
	float: none;
	white-space: nowrap;
	margin: 0;
	border-radius: 0;
	-moz-border-radius: 0;
	-khtml-border-radius: 0;
	-webkit-border-radius: 0;
}

#navigation ul ul ul {
	top: -5px;
	left: 100%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#navigation ul li:hover > ul {
	visibility: visible;
}

/* @end */

/* Layout */
.codecolorer { padding: 5px; text-align: left; }
code.codecolorer { padding: 2px; }
.codecolorer-container { margin-bottom: 10px; text-align: left; }
.codecolorer, .codecolorer *, .codecolorer-container, .codecolorer-container * { font: 13px/1.4em Monaco, Lucida Console, monospace }

.codecolorer-container table { border: 0px; }
.codecolorer-container table td { margin: 0px; padding: 0px; border: 0px; }
.codecolorer-container table td.line-numbers { padding: 5px; text-align: right; }
.codecolorer-container table td.line-numbers div { width: 23px; }

/* Layout styles */
figure.highlight pre { 
	border: 1px solid #9F9F9F;
	margin-bottom: 18px;
	 
}
.codecolorer-container { border: 1px solid #9F9F9F; }
.codecolorer-container table td.line-numbers { color: #888888; background-color: #EEEEEE; border-right: 1px solid #9F9F9F; }
.codecolorer-noborder, .codecolorer-noborder table td.line-numbers { border: 0px; }

/* "Slush & Poppies" color scheme (default) */
.codecolorer-container, .codecolorer { color: #000000; background-color: #F1F1F1; }
/* Comment */
.codecolorer .co0, .codecolorer .co1, .codecolorer .co2, .codecolorer .co3, .codecolorer .co4, .codecolorer .coMULTI { color: #406040; font-style: italic; }
/* Constant */
.codecolorer .nu0, .codecolorer .re3 { color: #0080A0; }
/* String */
.codecolorer .st0, .codecolorer .st_h, .codecolorer .es0, .codecolorer .es1 { color: #C03030; }
/* Entity */
.codecolorer .me1, .codecolorer .me2 { color: #0080FF; }
/* Keyword */
.codecolorer .kw1, .codecolorer .kw2, .codecolorer .sy1 { color: #2060A0; }
/* Storage */
.codecolorer .kw3, .codecolorer .kw4, .codecolorer .kw5, .codecolorer .re2 { color: #008080; }
/* Variable */
.codecolorer .re0, .codecolorer .re1 { color: #A08000; }
/* Global color */
.codecolorer .br0, .codecolorer .sy0 { color: #000000; }
/* Storage */
.twitlight .xml .re1 { color: #008080; }
/* Constant */
.twitlight .xml .re0 { color: #0080A0; }
/* Highlight lines */
.codecolorer .ln-xtra { background-color: #ffff66; }

/* "Twitlight" color scheme */
.twitlight, .twitlight .codecolorer { color: #F8F8F8; background-color: #141414; }
.twitlight .codecolorer .co0, .twitlight .codecolorer .co1, .twitlight .codecolorer .co2, .twitlight .codecolorer .co3, .twitlight .codecolorer .co4, .twitlight .codecolorer .coMULTI,
	code.twitlight .co0, code.twitlight .co1, code.twitlight .co2, code.twitlight .co3, code.twitlight .co4, code.twitlight .coMULTI
	{ color: #5F5A60; font-style: italic; }
.twitlight .codecolorer .nu0, .twitlight .codecolorer .re3,
	code.twitlight .nu0, code.twitlight .re3
	{ color: #CF6A4C; }
.twitlight .codecolorer .st0, .twitlight .codecolorer .st_h, .twitlight .codecolorer .es0, .twitlight .codecolorer .es1
	{ color: #8F9D6A; }
.twitlight .codecolorer .me1, .twitlight .codecolorer .me2,
	code.twitlight .me1, code.twitlight .me2
	{ color: #9B703F; }
.twitlight .codecolorer .kw1, .twitlight .codecolorer .kw2, .twitlight .codecolorer .sy1,
	code.twitlight .kw1, code.twitlight .kw2, code.twitlight .sy1
	{ color: #CDA869; }
.twitlight .codecolorer .kw3, .twitlight .codecolorer .kw4, .twitlight .codecolorer .kw5, .twitlight .codecolorer .re2,
	code.twitlight .kw3, code.twitlight .kw4, code.twitlight .kw5, code.twitlight .re2
	{ color: #F9EE98; }
.twitlight .codecolorer .re0, .twitlight .codecolorer .re1,
	code.twitlight .re0, code.twitlight .re1
	{ color: #7587A6; }
.twitlight .codecolorer .br0, .twitlight .codecolorer .sy0,
	code.twitlight .br0, code.twitlight .sy0
	{ color: #F8F8F8; }
.twitlight .xml .re1 { color: #F9EE98; }
.twitlight .xml .re0 { color: #CF6A4C; }

/* "Dawn" color scheme */
.dawn, .dawn .codecolorer { color: #080808; background-color: #F9F9F9; }
.dawn .codecolorer .co0, .dawn .codecolorer .co1, .dawn .codecolorer .co2, .dawn .codecolorer .co3, .dawn .codecolorer .co4, .dawn .codecolorer .coMULTI,
	code.dawn .co0, code.dawn .co1, code.dawn .co2, code.dawn .co3, code.dawn .co4, code.dawn .coMULTI
	{ color: #5A525F; font-style: italic; }
.dawn .codecolorer .nu0, .dawn .codecolorer .re3,
	code.dawn .nu0, code.dawn .re3
	{ color: #811F24; }
.dawn .codecolorer .st0, .dawn .codecolorer .st_h, .dawn .codecolorer .es0, .dawn .codecolorer .es1,
	code.dawn .st0, code.dawn .st_h, code.dawn .es0, code.dawn .es1
	{ color: #0B6125; }
.dawn .codecolorer .me1, .dawn .codecolorer .me2,
	code.dawn .me1, code.dawn .me2
	{ color: #BF4F24; }
.dawn .codecolorer .kw1, .dawn .codecolorer .kw2, .dawn .codecolorer .sy1,
	code.dawn .kw1, code.dawn .kw2, code.dawn .sy1
	{ color: #794938; }
.dawn .codecolorer .kw3, .dawn .codecolorer .kw4, .dawn .codecolorer .kw5, .dawn .codecolorer .re2,
	code.dawn .kw3, code.dawn .kw4, code.dawn .kw5, code.dawn .re2
	{ color: #A71D5D; }
.dawn .codecolorer .re0, .dawn .codecolorer .re1,
	code.dawn .re0, code.dawn .re1
	{ color: #234A97; }
.dawn .codecolorer .br0, .dawn .codecolorer .sy0,
	code.dawn .br0, code.dawn .sy0
	{ color: #080808; }
.dawn .xml .re1 { color: #A71D5D; }
.dawn .xml .re0 { color: #811F24; }

/* "Blackboard" color scheme */
.blackboard, .blackboard .codecolorer { color: #F8F8F8; background-color: #0C1021; }
.blackboard .codecolorer .co0, .blackboard .codecolorer .co1, .blackboard .codecolorer .co2, .blackboard .codecolorer .co3, .blackboard .codecolorer .co4, .blackboard .codecolorer .coMULTI,
	code.blackboard .co0, code.blackboard .co1, code.blackboard .co2, code.blackboard .co3, code.blackboard .co4, code.blackboard .coMULTI
	{ color: #AEAEAE; font-style: italic; }
.blackboard .codecolorer .nu0, .blackboard .codecolorer .re3,
	code.blackboard .nu0, code.blackboard .re3
	{ color: #D8FA3C; }
.blackboard .codecolorer .st0, .blackboard .codecolorer .st_h, .blackboard .codecolorer .es0, .blackboard .codecolorer .es1,
	code.blackboard .st0, code.blackboard .st_h, code.blackboard .es0, code.blackboard .es1
	{ color: #61CE3C; }
.blackboard .codecolorer .me1, .blackboard .codecolorer .me2,
	code.blackboard .me1, code.blackboard .me2
	{ color: #FF6400; }
.blackboard .codecolorer .kw1, .blackboard .codecolorer .kw2, .blackboard .codecolorer .sy1,
	code.blackboard .kw1, code.blackboard .kw2, code.blackboard .sy1
	{ color: #FBDE2D; }
.blackboard .codecolorer .kw3, .blackboard .codecolorer .kw4, .blackboard .codecolorer .kw5, .blackboard .codecolorer .re2,
	code.blackboard .kw3, code.blackboard .kw4, code.blackboard .kw5, code.blackboard .re2
	{ color: #FBDE2D; }
.blackboard .codecolorer .re0, .blackboard .codecolorer .re1,
	code.blackboard .re0, code.blackboard .re1
	{ color: #F8F8F8; }
.blackboard .codecolorer .br0, .blackboard .codecolorer .sy0,
	code.blackboard .br0, code.blackboard .sy0
	{ color: #F8F8F8; }
.blackboard .xml .re1 { color: #FBDE2D; }
.blackboard .xml .re0 { color: #D8FA3C; }

/* "Mac Classic" color scheme */
.mac-classic, .mac-classic .codecolorer { color: #000000; background-color: #FFFFFF; }
.mac-classic .codecolorer .co0, .mac-classic .codecolorer .co1, .mac-classic .codecolorer .co2, .mac-classic .codecolorer .co3, .mac-classic .codecolorer .co4, .mac-classic .codecolorer .coMULTI,
	code.mac-classic .co0, code.mac-classic .co1, code.mac-classic .co2, code.mac-classic .co3, code.mac-classic .co4, code.mac-classic .coMULTI
	{ color: #0066FF; font-style: italic; }
.mac-classic .codecolorer .nu0, .mac-classic .codecolorer .re3,
	code.mac-classic .nu0, code.mac-classic .re3
	{ color: #0000CD; }
.mac-classic .codecolorer .st0, .mac-classic .codecolorer .st_h, .mac-classic .codecolorer .es0, .mac-classic .codecolorer .es1,
	code.mac-classic .st0, code.mac-classic .st_h, code.mac-classic .es0, code.mac-classic .es1
	{ color: #036A07; }
.mac-classic .codecolorer .me1, .mac-classic .codecolorer .me2,
	code.mac-classic .me1, code.mac-classic .me2
	{ color: #0000A2; }
.mac-classic .codecolorer .kw1, .mac-classic .codecolorer .kw2, .mac-classic .codecolorer .sy1,
	code.mac-classic .kw1, code.mac-classic .kw2, code.mac-classic .sy1
	{ color: #0000FF; }
.mac-classic .codecolorer .kw3, .mac-classic .codecolorer .kw4, .mac-classic .codecolorer .kw5, .mac-classic .codecolorer .re2,
	code.mac-classic .kw3, code.mac-classic .kw4, code.mac-classic .kw5, code.mac-classic .re2
	{ color: #0000FF; }
.mac-classic .codecolorer .re0, .mac-classic .codecolorer .re1,
	code.mac-classic .re0, code.mac-classic .re1
	{ color: #318495; }
.mac-classic .codecolorer .br0, .mac-classic .codecolorer .sy0,
	code.mac-classic .br0, code.mac-classic .sy0
	{ color: #000000; }
.mac-classic .xml .re1 { color: #0000FF; }
.mac-classic .xml .re0 { color: #0000CD; }

/* "Vibrant Ink" color scheme */
.vibrant, .vibrant .codecolorer { color: #FFFFFF; background-color: #000000; }
.vibrant .codecolorer .co0, .vibrant .codecolorer .co1, .vibrant .codecolorer .co2, .vibrant .codecolorer .co3, .vibrant .codecolorer .co4, .vibrant .codecolorer .coMULTI,
	code.vibrant .co0, code.vibrant .co1, code.vibrant .co2, code.vibrant .co3, code.vibrant .co4, code.vibrant .coMULTI
	{ color: #9933CC; font-style: italic; }
.vibrant .codecolorer .nu0, .vibrant .codecolorer .re3,
	code.vibrant .nu0, code.vibrant .re3
	{ color: #339999; }
.vibrant .codecolorer .st0, .vibrant .codecolorer .st_h, .vibrant .codecolorer .es0, .vibrant .codecolorer .es1,
	code.vibrant .st0, code.vibrant .st_h, code.vibrant .es0, code.vibrant .es1
	{ color: #66FF00; }
.vibrant .codecolorer .me1, .vibrant .codecolorer .me2,
	code.vibrant .me1, code.vibrant .me2
	{ color: #FFCC00; }
.vibrant .codecolorer .kw1, .vibrant .codecolorer .kw2, .vibrant .codecolorer .sy1,
	code.vibrant .kw1, code.vibrant .kw2, code.vibrant .sy1
	{ color: #FF6600; }
.vibrant .codecolorer .kw3, .vibrant .codecolorer .kw4, .vibrant .codecolorer .kw5, .vibrant .codecolorer .re2,
	code.vibrant .kw3, code.vibrant .kw4, code.vibrant .kw5, code.vibrant .re2
	{ color: #FFCC00; }
.vibrant .codecolorer .re0, .vibrant .codecolorer .re1,
	code.vibrant .re0, code.vibrant .re1
	{ color: #FFFFFF; }
.vibrant .codecolorer .br0, .vibrant .codecolorer .sy0,
	code.vibrant .br0, code.vibrant .sy0
	{ color: #FFFFFF; }
.vibrant .xml .re1 { color: #FFCC00; }
.vibrant .xml .re0 { color: #339999; }

/* Railscasts theme */
.railscasts, .railscasts .codecolorer { color: #E6E1DC; background-color: #2B2B2B; }
/* Selection Color */
.railscasts ::selection, .railscasts .codecolorer ::selection { background:#adb9d2; }
.railscasts ::-moz-selection, .railscasts .codecolorer ::-moz-selection { background:#566381; }
.railscasts .codecolorer .co0, .railscasts .codecolorer .co1, .railscasts .codecolorer .co2, .railscasts .codecolorer .co3, .railscasts .codecolorer .co4, .railscasts .codecolorer .coMULTI
	{ color: #BC9458; font-style: italic; }
.railscasts .codecolorer .nu0, .railscasts .codecolorer .re3
	{ color: #6D9CBE; }
.railscasts .codecolorer .st0, .railscasts .codecolorer .st_h, .railscasts .codecolorer .es0, .railscasts .codecolorer .es1
	{ color: #A5C261; }
.railscasts .codecolorer .me1, .railscasts .codecolorer .me2
	{ color: #FFC66D; }
.railscasts .codecolorer .kw1, .railscasts .codecolorer .kw2, .railscasts .codecolorer .sy1
	{ color: #CC7833; }
.railscasts .codecolorer .kw3, .railscasts .codecolorer .kw4, .railscasts .codecolorer .kw5, .railscasts .codecolorer .re2
	{ color: #6E9CBE; }
.railscasts .codecolorer .railscasts .re0, .railscasts .codecolorer .re1
	{ color: #D0D0FF; }
.railscasts .codecolorer .br0,  .railscasts .codecolorer .sy0
	{ color: #E6E1DC; }
.railscasts .xml .re1
	{ color: #6E9CBE; }
.railscasts .xml .re0
	{ color: #6D9CBE; }
	
.highlight  { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */

/* Make line numbers unselectable: excludes line numbers from copy-paste user ops */
.highlight .lineno {-webkit-user-select: none;-moz-user-select: none; -o-user-select: none;} 
.lineno::-moz-selection {background-color: transparent;} /* Mozilla specific */
.lineno::selection {background-color: transparent;} /* Other major browsers */

#footer {
	text-align:center;
}

/* Menu */

#menu-list {
	margin:0;
}

li.page_item,li.menu-item {
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
	float: left;
}


li.page_item a,li.menu-item a {
	display: block;
	border-bottom: 5px solid #eee;
	padding: 8px 0px 8px 24px;
	line-height: 120%;
	font-weight: bold;
	margin-right: 50px;
	text-transform: lowercase;
	text-decoration: none;
	padding: 5px 0px 5px 0px;
}

li.page_item a:hover,li.menu-item a:hover {
	border-bottom: 5px solid #444;
}

li.current-menu-item a {
	border-bottom: 5px solid #444;
}

/* Page Menus/Custom Menus - Sublevels */

li.page_item li a,li.menu-item li a {
	display: inline;
	padding: 0;
	margin: 0;
	background: none;
	border: none;
	color: #666;
	line-height: 175%;
	font-weight: normal;
}
li.page_item li a:hover,li.menu-item li a:hover {
	background: none;
}

li.page_item a:hover,
li.menu-item a:hover {
	text-decoration: none;
	color: #333;
}

#site-title {
	margin-left: -4px;
}

#content {
	padding-top: 12px;
	margin-left:0;
}

#header {
	margin-left: 0px;
}