---
layout: post
status: publish
published: true
title: Regular Expressions in C — Having Trouble with the Pipe ‘|’ Character?
author:
  display_name: Martin Doms
  login: Martin Doms
  email: contact@martindoms.com
  url: http://martindoms.com
author_login: Martin Doms
author_email: contact@martindoms.com
author_url: http://martindoms.com
wordpress_id: 21
wordpress_url: http://blog.martindoms.com/?p=21
date: '2009-08-09 13:45:58 +1000'
date_gmt: '2009-08-09 01:45:58 +1000'
---
<p>I was working on an assignment for my C class recently and spent an inordinate amount of time solving a simple problem with regular expressions. Hopefully this quick post will help save someone else the frustration.</p>
<p>Let’s say you have the regular expression <font face="Courier">Cat|Dog|Horse</font> (should match Cat OR Dog OR Horse). You compile the regex using<br />
{% highlight c %}

char* regStr = "Cat|Dog|Horse";
regex_t reg;
regcomp(&reg, regStr, REG_ICASE);

{% endhighlight %}
<br />
So far so good. But now we try testing this regex against the word Dog</p>
<p>{% highlight c %}

int result = regexec(&reg, "Dog", 0, NULL, 0);
printf("Result: %d", result);

{% endhighlight %}
<br />
And it fails! Well don’t despair, the solution is simple. The pipe ‘|’ operator in C regular expression is only included in the extended set of regex operators. When compiling the regular expression using regcomp simply use <font face="Courier">REG_EXTENDED</font> in the last argument. If you still want your regular expression to be case insensitive you can pipe two arguments together, like</p>
<p>{% highlight c %}
regcomp(&reg, regStr, REG_ICASE|REG_EXTENDED);
{% endhighlight %}
</p>
<p>Hope that helps!</p>
