---
layout: post
status: publish
published: true
title: Using the Google Reader API - Part 1
author:
  display_name: Martin Doms
  login: Martin Doms
  email: contact@martindoms.com
  url: http://martindoms.com
author_login: Martin Doms
author_email: contact@martindoms.com
author_url: http://martindoms.com
wordpress_id: 101
wordpress_url: http://blog.martindoms.com/?p=101
date: '2009-08-15 11:35:01 +1000'
date_gmt: '2009-08-14 23:35:01 +1000'
---
<p>Google Reader API series</p>
<ul>
<li>Part 1 - Programming to the API</li>
<li><a href="http://blog.martindoms.com/2009/10/16/using-the-google-reader-api-part-2/">Part 2 - Listing API</a></li>
<li><a href="http://blog.martindoms.com/2010/01/20/using-the-google-reader-api-part-3/">Part 3 - Editing API</a></ul>
<p>Google have never officially released API documentation for Google Reader, so this information is unofficial and subject to change.</p>
<p>When I first started looking around for API docs to interface with Google Reader, <a href="http://code.google.com/p/pyrfeed/wiki/GoogleReaderAPI">this site</a> seemed to be pretty much the only resource available. Unfortunately a lot of the information in that document is outdated, so I set about trying to figure out the API myself, with some success.</p>
<p>To interface with Google reader, you'll need to collect the following things from their authentication system:</p>
<ul>
<li><strong>SID</strong> - A session ID, which remains valid until you log out</li>
<li><strong>Token</strong> - Similar to a session ID, but expires quickly. Used to access direct API calls</li>
<li><strong>Cookie</strong> - An ordinary cookie that uses your SID to authenticate your session on API calls</li>
</ul>
<p>The code samples I'm using will be in C#, but should be easily translatable to any language.</p>
<p>To get an SID, we send a GET request to https://www.google.com/accounts/ClientLogin with arguments service=reader&Email=<i>[your Google username]</i>&Passwd=<i>[your Google password]</i><br />
This will return some text with <i>key=value</i> pairs for LSID, SID and User. SID is the only part of this we need, so use your string library to grab this information.</p>
<p>Now that we have an SID we need a token. We send a GET request to  http://www.google.com/reader/api/0/token with a cookie we generate from the SID. The cookie information is</p>
<ul>
<li>Name: SID</li>
<li>Value: <i>[your SID]</i></li>
<li>Path: /</li>
<li>Domain: .google.com</li>
</ul>
<p>This request returns just the token text.</p>
<p>So here is the code I wrote for getting SID and token:<br />
<code lang="C#"><br />
using System.Net;<br />
using System.IO;</p>
<p>namespace GoogleReader.NET<br />
{<br />
    public class GoogleReader<br />
    {<br />
        private string _sid = null;<br />
        private string _token = null;<br />
        private Cookie _cookie = null;</p>
<p>        private string _username;<br />
        private string _password;</p>
<p>        public GoogleReader(string username, string password)<br />
        {<br />
            _username = username;<br />
            _password = password;</p>
<p>            connect();<br />
        }</p>
<p>        private bool connect()<br />
        {<br />
            getToken();<br />
            return _token != null;<br />
        }<br />
        private void getToken()<br />
        {<br />
            getSid();<br />
            _cookie = new Cookie("SID", _sid, "/", ".google.com");</p>
<p>            string url = "http://www.google.com/reader/api/0/token";</p>
<p>            HttpWebRequest req = (HttpWebRequest)WebRequest.Create(url);<br />
            req.Method = "GET";<br />
            req.CookieContainer = new CookieContainer();<br />
            req.CookieContainer.Add(_cookie);</p>
<p>            HttpWebResponse response = (HttpWebResponse)req.GetResponse();<br />
            using (var stream = response.GetResponseStream())<br />
            {<br />
                StreamReader r = new StreamReader(stream);<br />
                _token = r.ReadToEnd();<br />
            }<br />
        }<br />
        private void getSid()<br />
        {<br />
            string requestUrl = string.Format<br />
                ("https://www.google.com/accounts/ClientLogin?service=reader&Email={0}&Passwd={1}",<br />
                _username, _password);<br />
            HttpWebRequest req = (HttpWebRequest)WebRequest.Create(requestUrl);<br />
            req.Method = "GET";</p>
<p>            HttpWebResponse response = (HttpWebResponse)req.GetResponse();<br />
            using (var stream = response.GetResponseStream())<br />
            {<br />
                StreamReader r = new StreamReader(stream);<br />
                string resp = r.ReadToEnd();</p>
<p>                int indexSid = resp.IndexOf("SID=") + 4;<br />
                int indexLsid = resp.IndexOf("LSID=");<br />
                _sid = resp.Substring(indexSid, indexLsid - 5);<br />
            }<br />
        }<br />
    }<br />
}<br />
</code></p>
<p>From here were can make interface calls (I plan to document the complete set of API calls in the very near future, but for now I'll give a couple of examples). To add a subscription, make an HTTP POST to http://www.google.com/reader/api/0/subscription/quickadd?client=scroll with POST arguments quickadd=<i>[url of feed]</i>&T=<i>[your token]</i> and don't forget to include your cookie. I wrote a couple of quick helper methods for making POST and GET calls first:<br />
<code lang="C#"><br />
private HttpWebResponse httpGet(string requestUrl, string getArgs)<br />
        {<br />
            string url = string.Format("{0}?{1}", requestUrl, getArgs);</p>
<p>            HttpWebRequest request = (HttpWebRequest)WebRequest.Create(url);<br />
            request.Method = "GET";<br />
            request.CookieContainer = new CookieContainer();<br />
            request.CookieContainer.Add(_cookie);</p>
<p>            try<br />
            {<br />
                return (HttpWebResponse)request.GetResponse();<br />
            }<br />
            catch<br />
            {<br />
                // handle error<br />
                return null;<br />
            }<br />
        }</p>
<p>        private HttpWebResponse httpPost(string requestUrl, string postArgs)<br />
        {<br />
            byte[] buffer = Encoding.GetEncoding(1252).GetBytes(postArgs);</p>
<p>            HttpWebRequest request = (HttpWebRequest)WebRequest.Create(requestUrl);<br />
            request.Method = "POST";<br />
            request.CookieContainer = new CookieContainer();<br />
            request.CookieContainer.Add(_cookie);<br />
            request.ContentType = "application/x-www-form-urlencoded";<br />
            request.ContentLength = buffer.Length;</p>
<p>            Stream PostData = request.GetRequestStream();</p>
<p>            PostData.Write(buffer, 0, buffer.Length);<br />
            PostData.Close();</p>
<p>            try<br />
            {<br />
                return (HttpWebResponse)request.GetResponse();<br />
            }<br />
            catch<br />
            {<br />
                //handle error<br />
                return null;<br />
            }<br />
}<br />
</code></p>
<p>Now for the add subscription code:<br />
<code lang="C#"><br />
        public bool AddFeed(string feedUrl)<br />
        {<br />
            string data = String.Format("quickadd={0}&T={1}", feedUrl, _token);<br />
            string url = "http://www.google.com/reader/api/0/subscription/quickadd?client=scroll";</p>
<p>            HttpWebResponse response = httpPost(url, data);<br />
            if (response == null) return false;<br />
            return true;<br />
        }<br />
</code></p>
<p>We can add a label to a feed by POSTING to http://www.google.com/reader/api/0/subscription/edit?client=scroll with arguments a=user/-/label/<i>[new label]</i>&s=feed/<i>[feed url]</i>&ac=edit&T=<i>[token]</i> like so:<br />
<code lang="C#"><br />
        public bool AddLabelToFeed(string label, string feedUrl)<br />
        {<br />
            string data = String.Format<br />
                ("a=user/-/label/{0}&s=feed/{1}&ac=edit&T={2}", label, feedUrl, _token);<br />
            string url = "http://www.google.com/reader/api/0/subscription/edit?client=scroll";</p>
<p>            HttpWebResponse response = httpPost(url, data);</p>
<p>            if (response == null) return false;<br />
            return true;<br />
        }<br />
</code></p>
<p>There are of course listing methods for getting feeds. So far I've only been able to figure out how to get feed information in JSON format, but if anyone knows how to grab XML data please leave a comment. To list items we send a GET request to http://www.google.com/reader/api/0/stream/contents/user/-/state/com.google/reading-list?ck=<i>[current UNIX time]</i> . Of course there are many more otpional arguments for all of these methods, which I will be documenting. Here's the list code:<br />
<code lang="C#"><br />
public void ListAll()<br />
        {<br />
            string url = string.Format<br />
                ("http://www.google.com/reader/api/0/stream/contents/user/-/" +<br />
                 "state/com.google/reading-list");<br />
            string args = string.Format<br />
                ("ck={0}", getUnixTimeNow());<br />
            HttpWebResponse response = httpGet(url, args);</p>
<p>            Stream str = response.GetResponseStream();<br />
            StreamReader sr = new StreamReader(str);<br />
            string s = sr.ReadToEnd();<br />
            // Handle JSON data in s</p>
<p>            sr.Close();<br />
        }<br />
</code><br />
getUnixTimeNow() is a small helper method I wrote for getting the current Unix time:<br />
<code lang="C#"><br />
private long getUnixTimeNow()<br />
        {<br />
            TimeSpan ts = (DateTime.UtcNow - new DateTime(1970, 1, 1, 0, 0, 0));<br />
            long unixTime = (long)ts.TotalSeconds;<br />
            return unixTime;<br />
        }<br />
</code><br />
This has been a small taste of what's to come as I work my way through this API. Stay tuned for more. If you want to get hacking on it yourself, the easiest way is to download <a href="http://www.fiddler2.com/fiddler2/">Fiddler</a>, a great web debugging tool, and watch the HTTP requests as you use Google Reader.<br />
<br /><strong><a href="http://blog.martindoms.com/2009/10/16/using-the-google-reader-api-part-2/">Part 2</a> now available.</strong></p>
