---
layout: post
status: publish
published: true
title: Using the Google Reader API - Part 2
author:
  display_name: Martin Doms
  login: Martin Doms
  email: contact@martindoms.com
  url: http://martindoms.com
author_login: Martin Doms
author_email: contact@martindoms.com
author_url: http://martindoms.com
wordpress_id: 116
wordpress_url: http://blog.martindoms.com/?p=116
date: '2009-10-16 16:06:14 +1100'
date_gmt: '2009-10-16 03:06:14 +1100'
---
<p>Google Reader API series</p>
<ul>
<li><a href="http://blog.martindoms.com/2009/08/15/using-the-google-reader-api-part-1/">Part 1 - Programming to the API</a></li>
<li>Part 2 - Listing API</li>
<li><a href="http://blog.martindoms.com/2010/01/20/using-the-google-reader-api-part-3/">Part 3 - Editing API</a></ul>
<p>In this post I will discuss the listing API for Google reader. This encapsulates all of the calls you'll need to list items and feeds in various ways. The table below summarizes the API URLs you'll be using. Simply follow the table from left to right to find your target API handle. Click on a terminal item to see a summary of what it does and how to use it.</p>
<p>Note that for the <i>user</i> items I have found that substituting a dash for the user number works in every case I've tested, because a user needs to be logged in with a valid token to use these calls anyway.</p>
<p>If this is your first foray into using the Google Reader API then you'll want to read <a href="http://blog.martindoms.com/2009/08/15/using-the-google-reader-api-part-1/">my previous post</a> which describes how to acquire a valid token and cookie, and make calls to the API. Unlike part 1 of this series, this part is totally language agnostic.</p>
<h3>URL structure: http://www.google.com/...</h3>
<p></p>
<table style="font-family:Courier;border:0" border="1">
<tbody>
<tr>
<td rowspan="15">/reader/api/0/</td>
</tr>
<tr>
<td><a href="#unread-count">unread-count</a></td>
</tr>
<tr>
<td><a href="#user-info">user-info</a></td>
</tr>
<tr>
<td rowspan="15">stream/contents/</td>
</tr>
<tr>
<td><a href="#feed">feed/[feedurl]</a></td>
</tr>
<tr>
<td rowspan="8">user/[userNumber]/</td>
</tr>
<tr>
<td><a href="#labelname">label/[labelName]</a></td>
</tr>
<tr>
<td rowspan="8">state/com.google/</td>
</tr>
<tr>
<td><a href="#readinglist">reading-list</a></td>
</tr>
<tr>
<td><a href="#starred">starred</a></td>
</tr>
<tr>
<td><a href="#broadcast">broadcast</a></td>
</tr>
<tr>
<td><a href="#created">created</a></td>
</tr>
</tbody>
</table>
<p><a name="unread-count"></a><br />
<h2>unread-count</h2>
<p>Gets a list of feeds for the current user and the number of unread items in each feed. Also returns a list of labels that the user has created.<br />
<strong>Parameters</strong></p>
<ul>
<li>allcomments=<i>[true|false]</i> : I'm not sure what this parameter does, please leave a comment if you figure this one out.</li>
<li>output=<i>[json|xml]</i> : Determines the format of the response. Default: xml</li>
<li>ck=<i>[unix timestamp]</i> : Use the current Unix time here, helps Google with caching</li>
<li>client=<i>[your client]</i> : You can use the default Google client (scroll), but it doesn't seem to make a difference. Google probably uses this field to gather data on who is accessing the API, so I'd advise using your own unique string to identify your software.</li>
</ul>
<p><strong>Sample Output (XML)</strong><br />
<code>GET http://www.google.com/reader/api/0/unread-count?allcomments=true&output=xml&ck=1255643091105&client=scroll</code><br />
<code lang="XML"><br />
<object><br />
	<number name="max">1000</number></p>
<list name="unreadcounts">
		<object><br />
			<string name="id">feed/http://www.pwop.com/feed.aspx?show=dotnetrocks</string><br />
			<number name="count">3</number><br />
			<number name="newestItemTimestampUsec">1255568508813466</number><br />
		</object><br />
		<object><br />
			<string name="id">feed/http://rssnewsapps.ziffdavis.com/audioblogs/crankygeeks/cg.audio.xml</string><br />
			<number name="count">1</number><br />
			<number name="newestItemTimestampUsec">1255578279704094</number><br />
		</object><br />
		<object><br />
			<string name="id">user/01723985652832499840/label/myLabel</string><br />
			<number name="count">4</number><br />
			<number name="newestItemTimestampUsec"> 1256030778673945 </number><br />
		</object>
	</list>
</object><br />
</code><br />
<strong>Sample Output (JSON)</strong><br />
<code>GET http://www.google.com/reader/api/0/unread-count?allcomments=false&output=json&ck=1255643091105&client=myApplication</code><br />
<code><br />
{<br />
"max":1000,<br />
"unreadcounts":<br />
	[<br />
	{"id":"feed/http://www.pwop.com/feed.aspx?showu003ddotnetrocks","count":3,"newestItemTimestampUsec":"1255568508813466"},<br />
	{"id":"feed/http://rssnewsapps.ziffdavis.com/audioblogs/crankygeeks/cg.audio.xml","count":1,"newestItemTimestampUsec":"1255578279704094"},<br />
    {"id":"user/01723985652832499840/label/myLabel","count":4,"newestItemTimestampUsec":"1256030778673945"}<br />
	]<br />
}<br />
</code></p>
<p><a name="user-info"></a><br />
<h2>user-info</h2>
<p>Gets information on the current user<br />
<strong>Parameters</strong></p>
<ul>
<li>ck=<i>[unix timestamp]</i> : Use the current Unix time here, helps Google with caching</li>
<li>client=<i>[your client]</i> : You can use the default Google client (scroll), but it doesn't seem to make a difference. Google probably uses this field to gather data on who is accessing the API, so I'd advise using your own unique string to identify your software.</li>
</ul>
<p></code><br />
<strong>Sample Output</strong><br />
<code>GET http://www.google.com/reader/api/0/user-info?&ck=1255643091105&client=myApplication</code><br />
<code><br />
{<br />
	"userId":"01723985652832499840",<br />
	"userName":"username",<br />
	"userProfileId":"123456789123456789123",<br />
	"userEmail":"username@gmail.com",<br />
	"isBloggerUser":true,<br />
	"signupTimeSec":1234515320<br />
}<br />
</code></p>
<p><a name="feed"></a><br />
<h2>feed/[feedurl]</h2>
<p>Gets items belonging to a particular feed.<br />
<strong>Parameters</strong></p>
<ul>
<li>ot=<i>[unix timestamp]</i> : The time from which you want to retrieve items. Only items that have been crawled by Google Reader after this time will be returned.</li>
<li>r=<i>[d|n|o]</i> : Sort order of item results. <i>d</i> or <i>n</i> gives items in descending date order, <i>o</i> in ascending order.</li>
<li>xt=<i>[exclude target]</i> : Used to exclude certain items from the feed. For example, using xt=user/-/state/com.google/read will exclude items that the current user has marked as read, or xt=feed/[feedurl] will exclude items from a particular feed (obviously not useful in this request, but xt appears in other listing requests).</li>
<li>n=<i>[integer]</i> : The maximum number of results to return.</li>
<li>ck=<i>[unix timestamp]</i> : Use the current Unix time here, helps Google with caching.</li>
<li>client=<i>[your client]</i> : You can use the default Google client (scroll), but it doesn't seem to make a difference. Google probably uses this field to gather data on who is accessing the API, so I'd advise using your own unique string to identify your software.</li>
</ul>
<p></code><br />
<strong>Sample Output</strong><br />
<code>GET http://www.google.com/reader/api/0/stream/contents/feed/http://astronomycast.com/podcast.xml?ot=1253052000&r=n&xt=user/-/state/com.google/read&n=20&ck=1255646178892&client=myApplication</code><br />
<code><br />
{<br />
	"id":"feed/http://astronomycast.com/podcast.xml",<br />
	"title":"Astronomy Cast",<br />
	"continuation":"CLbwxoSAsZsC",<br />
	"self":[{"href":"http://www.google.com/reader/api/0/stream/contents/feed/http://astronomycast.com/podcast.xml?"}],<br />
	"alternate":[{"href":"http://www.astronomycast.com","type":"text/html"}],<br />
	"updated":1255415774,<br />
	"items":[<br />
	{<br />
		"crawlTimeMsec":"1255415774867",<br />
		"id":"tag:google.com,2005:reader/item/bfbd19b1936fcccf",<br />
		"categories":<br />
		[<br />
			"user/01723985652832499840/state/com.google/reading-list",<br />
			"user/01723985652832499840/state/com.google/fresh"<br />
		],<br />
		"title":"Ep. 156: Famous Stars","published":1253491200,<br />
		"updated":1253491200,<br />
		"enclosure":<br />
		[<br />
			{<br />
				"href":"http://feedproxy.google.com/~r/astronomycast/~5/4TPW83-0h4Y/AstroCast-090921.mp3",<br />
				"type":"audio/mpeg","length":"17610000"<br />
			}<br />
		],<br />
		"alternate":<br />
		[<br />
			{<br />
				"href":"http://feedproxy.google.com/~r/astronomycast/~3/89_Ck5HN--w/",<br />
				"type":"text/html"<br />
			}<br />
		],<br />
		"mediaGroup":{"content":[{"url":"http://feedproxy.google.com/~r/astronomycast/~5/4TPW83-0h4Y/AstroCast-090921.mp3"}]},<br />
		"summary":<br />
		{<br />
			"direction":"ltr",<br />
			"content":"This week we're going to talk about famous stars. But not those boring ..."<br />
		},<br />
		"author":"info@astronomycast.com (Fraser Cain \u0026 Dr. Pamela Gay)",<br />
		"likingUsers":[],<br />
		"comments":[],<br />
		"annotations":[],<br />
		"origin":<br />
		{<br />
			"streamId":"feed/http://astronomycast.com/podcast.xml",<br />
			"title":"Astronomy Cast",<br />
			"htmlUrl":"http://www.astronomycast.com"<br />
		}<br />
	},<br />
	{<br />
		"crawlTimeMsec":"1255415774867",<br />
		"id":"tag:google.com,2005:reader/item/008d8a870f2a9dee",<br />
		...<br />
	}]<br />
}<br />
</code><br />
<strong>Output summary</strong><br />
This request returns an object that contains:</p>
<ul>
<li>Feed id string</li>
<li>Feed title string</li>
<li>Continuation string<i> - what is this? Leave a comment if you know</i></li>
<li>Self - an array of objects which contain a link to this list</li>
<li>Alternate - an array of objects which contain non-Google links to the feed (usually the author's RSS)</li>
<li>Updated timestamp</li>
<li>Items - an array of item objects which contain
<ul>
<li>Crawl time - when the item was crawled by Google Reader</li>
<li>Id - a unique identifier for the item</li>
<li>Categories - an array of categories to which this item belongs. These appear to be user-specific</li>
<li>Item title string</li>
<li>Updated timestamp</li>
<li>Enclosure - an array of enclosure objects. These are used mostly for podcasts/videocasts, they contain media items enclosed in the feed item. Enclosure items are composed of
<ul>
<li>A link to the media file</li>
<li>An <a href="http://en.wikipedia.org/wiki/Internet_media_type">internet media type</a></li>
<li>Length, in bytes</li>
</ul>
<li>An array of alternate links to the item</li>
<li>Media Group - appears to be an object storing an array of direct links to the enclosure media</li>
<li>Summary - an object containing a description of the feed item and a direction (ltr or rtl) for reading. <i>Is this direction a byte ordering hack? Someone let me know in the comments.</i></li>
<li>Author string</li>
<li>An array of users who "like" the item</li>
<li>An array of comments on the item</li>
<li>An array of annotations on the item</li>
<li>An origin object which stores
<ul>
<li>The stream id - this is the <i>feed/[feedurl]</i> that Google uses to identify the feed</li>
<li>The feed title string</li>
<li>The HTML url to the feed's homepage</li>
</ul>
</ul>
</ul>
<p><a name="labelname"></a><br />
<h2>label/[labelName]</h2>
<p>Lists all items from a given label.<br />
<strong>Parameters</strong></p>
<ul>
<li>See <a href="#feed">feed list</a></li>
</ul>
<p><code>GET http://www.google.com/reader/api/0/stream/contents/user/-/label/label?ot=1253066400&r=n&xt=user/-/com.google/read&n=20&ck=1255660064860&client=myApplication</code><br />
<strong>Sample Output</strong> - See <a href="#feed">feed list</a></p>
<p><a name="readinglist"></a><br />
<h2>reading-list</h2>
<p>List all items in the user's reading list. This is a list of all of the items from all of the user's feeds, excluding items depending on the xt (exclude target) parameter.<br />
<strong>Parameters</strong></p>
<ul>
<li>See <a href="#feed">feed list</a></li>
</ul>
<p><code>GET http://www.google.com/reader/api/0/stream/contents/user/-/state/com.google/reading-list?ot=1253066400&r=n&xt=user/-/state/com.google/read&n=20&ck=1255660536125&client=myApplication</code><br />
<strong>Sample Output</strong> - See <a href="#feed">feed list</a></p>
<p><a name="starred"></a><br />
<h2>starred</h2>
<p>List all items that the user has marked as "starred"<br />
<strong>Parameters</strong></p>
<ul>
<li>n=<i>[integer]</i> : The maximum number of results to return.</li>
<li>ck=<i>[unix timestamp]</i> : Use the current Unix time here, helps Google with caching.</li>
<li>client=<i>[your client]</i> : You can use the default Google client (scroll), but it doesn't seem to make a difference. Google probably uses this field to gather data on who is accessing the API, so I'd advise using your own unique string to identify your software.</li>
</ul>
<p><code>GET http://www.google.com/reader/api/0/stream/contents/user/-/state/com.google/starred?n=20&ck=1255660749447&client=myApplication</code><br />
<strong>Sample Output</strong> - See <a href="#feed">feed list</a></p>
<p><a name="broadcast"></a><br />
<h2>broadcast</h2>
<p>List all items that the user has chosen to share publicly.<br />
<strong>Parameters</strong></p>
<ul>
<li>n=<i>[integer]</i> : The maximum number of results to return.</li>
<li>ck=<i>[unix timestamp]</i> : Use the current Unix time here, helps Google with caching.</li>
<li>client=<i>[your client]</i> : You can use the default Google client (scroll), but it doesn't seem to make a difference. Google probably uses this field to gather data on who is accessing the API, so I'd advise using your own unique string to identify your software.</li>
</ul>
<p><code>GET http://www.google.com/reader/api/0/stream/contents/user/-/state/com.google/broadcast?n=20&ck=1255660975267&client=myApplication</code><br />
<strong>Sample Output</strong> - See <a href="#feed">feed list</a></p>
<p><a name="created"></a><br />
<h2>created</h2>
<p>List all notes that the user has created.<br />
<strong>Parameters</strong></p>
<ul>
<li>n=<i>[integer]</i> : The maximum number of results to return.</li>
<li>ck=<i>[unix timestamp]</i> : Use the current Unix time here, helps Google with caching.</li>
<li>client=<i>[your client]</i> : You can use the default Google client (scroll), but it doesn't seem to make a difference. Google probably uses this field to gather data on who is accessing the API, so I'd advise using your own unique string to identify your software.</li>
</ul>
<p><strong>Sample Output</strong><br />
<code>GET http://www.google.com/reader/api/0/stream/contents/user/-/state/com.google/created?n=20&ck=1255661349906&client=myApplication</code><br />
<code><br />
{<br />
	"id":"user/01723985652832499840/source/com.google/post",<br />
	"title":"\"post\" via iamaelephant in Google Reader",<br />
	"self":<br />
	[<br />
		{"href":"http://www.google.com/reader/api/0/stream/contents/user/01723985652832499840/state/com.google/created?n\u003d20\u0026ck\u003d1255661572704\u0026client\u003dscroll"}<br />
	],<br />
	"author":"iamaelephant",<br />
	"updated":1255661564,<br />
	"items":<br />
	[<br />
		{<br />
			"crawlTimeMsec":"1255661564095",<br />
			"id":"tag:google.com,2005:reader/item/2dc5e875a623fe5e",<br />
			"categories":<br />
			[<br />
				"user/01723985652832499840/source/com.google/post",<br />
				"user/01723985652832499840/state/com.google/broadcast",<br />
				"user/01723985652832499840/state/com.google/read",<br />
				"user/01723985652832499840/state/com.google/fresh"<br />
			],<br />
			"published":1255661564,<br />
			"updated":1255661564,<br />
			"related":<br />
			[<br />
				{"href":"http://www.google.com/reader/shared/01723985652832499840","streamId":"user/01723985652832499840/state/com.google/broadcast"}<br />
			],<br />
			"alternate":<br />
			[<br />
				{"href":"http://www.google.com/reader/item/tag:google.com,2005:reader/item/2dc5e875a623fe5e","type":"text/html"}<br />
			],<br />
			"content":<br />
			{<br />
				"direction":"ltr",<br />
				"content":"this is the note text"<br />
			},<br />
			"author":"iamaelephant",<br />
			"likingUsers":[],<br />
			"comments":[],<br />
			"annotations":[],<br />
			"origin":<br />
			{<br />
				"streamId":"user/01723985652832499840/source/com.google/post",<br />
				"htmlUrl":"http://www.google.com/reader/shared/01723985652832499840"<br />
			}<br />
		}<br />
	]<br />
}<br />
</code><br />
That's an awful lot of information for a little note, but most of it corresponds closely to item information, so if you're unsure of how to interpret a field, have a look at the output summary for the <a href="#feed">feed/[feedurl]</a> call.</p>
<p>Phew! That mostly does it for the listing methods. There are some other minor calls I've left out for brevity, but most of what you'll want to achieve is in here, and I intend on releasing complete documentation when I have finished my .NET Google Reader API library. In my next post I'll discuss the POST methods so you can start altering the contents of your Google Reader list, star/un-star items, etc. Stay tuned!</p>
