---
layout: post
status: publish
published: true
title: Salvaging a Bad Photograph in Photoshop
author:
  display_name: Martin Doms
  login: Martin Doms
  email: contact@martindoms.com
  url: http://martindoms.com
author_login: Martin Doms
author_email: contact@martindoms.com
author_url: http://martindoms.com
wordpress_id: 260
wordpress_url: http://blog.martindoms.com/?p=260
date: '2010-01-26 17:46:10 +1100'
date_gmt: '2010-01-26 04:46:10 +1100'
---
<p>I was at the Northern end of <a href="http://en.wikipedia.org/wiki/Lewis_Pass">Lewis Pass</a> when I came across the scene. What I saw was an ancient and proud late-spring mountain towering over the valley. She looked almost angry that any man would dare scar her age old nest with a callous and rude roadway. The brooding sky lay a dramatic drape over her.</p>
<p>What I captured on the sensor of my camera... well, I'll let the image speak for itself.<br />
[caption id="attachment_259" align="alignnone" width="768" caption="Original Image"]<img src="/images/2010-01-orig-light.jpg" alt="" title="Original Image" width="768" height="512" class="size-full wp-image-259" />[/caption]<br />
<a href="/images/2010-01-orig-dark.jpg"><img src="/images/2010-01-orig-dark-300x200.jpg" alt="" title="orig-dark" width="300" height="200" class="alignright size-medium wp-image-258" /></a>Flat, uninspired and altogether disappointing. But the image I saw when I passed through stuck with me, and I decided it was time to have a crack at making my photograph reflect more accurately how I felt when I took it.</p>
<p>I'm going to start this with my perennial piece of advice - <strong>always shoot in RAW</strong>. I'm not going to go into detail about why this is because it has been discussed to death all over the internet. If you don't know what RAW format is or don't know why you should be using it, enroll yourself in Google University and find out - you'll thank yourself for the results, trust me.</p>
<p>Now thankfully I had the presence of mind when shooting this scene to take two exposures. I could see that although my eye saw a dark and foreboding sky, that wasn't going to be reflected in the final image due to the limited dynamic range of the camera's sensor. So I shot one image to correctly expose the sky, and one image to correctly expose the road and mountains. This is not going to be an HDR image in the traditional sense, instead I am combining two separate images by manually blending them. On the right is the original image correctly exposed for the sky.</p>
<p>After doing the basic RAW conversion (very little was done in this step in this particular case so I won't go into detail) I open both images in Photoshop. Don't worry if you don't have the latest and greatest CS4, all of the tools I'll be using have been in PS for several years (except Smart Sharpen at the end, but you can substitute Unsharp Mask).<a href="/images/2010-01-layers1.png"><img src="/images/2010-01-layers1.png" alt="" title="layers1" width="242" height="141" class="alignleft size-full wp-image-267" /></a> I select the entire light image (Ctrl+A) and paste it on top of the dark image, so it's on a new layer (see left).<a href="/images/2010-01-layers2.png"><img src="/images/2010-01-layers2.png" alt="" title="layers2" width="211" height="46" class="alignright size-full wp-image-268" /></a> I create a new Layer Mask for this new layer (see right). This mask allows me to use a brush to determine which parts of this layer are actually visible on top of the layer beneath.</p>
<p>I select the layer mask by clicking on the white box that appears next to the layer thumbnail and simply start drawing on the canvas with the Brush tool. I use a large brush with zero hardness to ensure that the edges of my mask can't be easily picked out in the final image. Jobs like this are most easily done with a drawing tablet (I personally use a <a href="http://www.wacom.com/bamboo/bamboo_pen_touch.php">Wacom Bamboo</a>) but you can get by without one. In fact my tablet was not available for me to use when I made this image, so I did it all with just a mouse. After masking I have an image that looks like this:<br />
<img src="/images/2010-01-masked.jpg" alt="" title="Masked Up" width="768" height="512" class="alignnone size-full wp-image-270" /><br />
and with a mask that looks like this:<br />
<img src="/images/2010-01-mask.jpg" alt="" title="Mask" width="768" height="512" class="alignnone size-full wp-image-273" /></p>
<p>I want to pull a little more contrast out of the sky, so I inserted a new Levels Adjustment Layer in between the background and new layer (Layer -> New Adjustment Layer -> Levels...). The name of the game here is <i>non-destructive processing</i>. <img src="/images/2010-01-levels2.png" alt="" title="Levels" width="214" height="263" class="alignright size-full wp-image-276" />We try to do everything in layers, and this allows us to make changes to the final product without affecting the original image. An adjustment layer is a layer that makes certain adjustments to all visible layers beneath it. The advantage is that the adjustment layer can be hidden or deleted and the original images remain intact. I chose a Levels adjustment so that I could change the output white, mid and black levels with respect to the input levels, thereby increasing contrast and effectively "stretching" the dynamic range of the sky. On the right is my levels adjustment. </p>
<p>Here's how the levels dialog works. That graph represents the brightness of the image - on the X axis are levels of brightness, from 0 to 255 (where 0 is black, 255 is white). The Y axis gives the number of pixels at that brightness level. So on the histogram on the right you can see we have a bunch of pixels at around 20-30 units of brightness, and another peak at around 170-190 units. The little sliders beneath the graph allow us to change the "black point" and "white point". If we slide the left (black point) slider to the right then anything to the left of the slider becomes black, and similarly for white. Then the part of the histogram between the sliders is essentially stretched across the full 256 levels. The mid point does something similar with the middle of the histogram, and although it's not as intuitively obvious how it will behave I encourage you to play with it to see how it affects contrast. Remember I'm using this layer just above the background so it will only affect the sky in this image.</p>
<p>My next step is to create a new layer at the top of this image. My goal here is to add more depth to the photograph and use lighting effects to draw the viewer in and also to try to give the scene that overbearing look that made me feel positively tiny when I was there. I use subtle light tricks to give the mountains a sense of scale that wasn't present in the original image. I will use a special type of layer called an Overlay Layer. I click Layer->New Layer... and in the dialog box under Mode I select Overlay. This opens an option below the list box that says "Fill with Overlay-neutral color (50% gray)". Tick this box. And overlay layer is a layer that affects the layers beneath it by changing the brightness of the lower layers depending on the brightness of the overlay layer. So areas where the overlay layer is brighter than 50% gray become brighter, and conversely for darker areas. This is why a 50% gray color is overlay-neutral, and why creating this layer has no effect on the final image at first.</p>
<p>We want to be relatively subtle with our effects on the overlay layer. A heavy hand here leads to an image that is so blatantly "Photoshopped" that that's all people will see in your product. I use the dodge and burn tools (on the toolbar, hotkey O) with an exposure around 3-7% to change the overly layer. I have to be sure I'm actually working on the overlay and not on the image itself - remember, I'm working non-destructively here (and besides, the dodge and burn tools won't give the look I'm after if applied to the image itself). Two useful hotkeys here are '[' and ']', which change the size of your brush tools. Again, this job is much easier with a tablet but it's not totally necessary.</p>
<p>I use dodge to make the image lighter in certain places - just above the road and on the portion of the mountain on the upper right third of the image. I burn other parts of the mountain to make them darker. By carefully choosing where to dodge and burn I can give the image a sense of depth and scale. It's mostly a matter of experience and experimentation that gives the knowledge of where to dodge and burn. I never studied aesthetics so I can't quantify what it is that makes an image look "deep", I just know from doing it many, many times. If you need a concrete explanation of how to do this you'll need to speak to some BA student in a black turtle-neck, because I fly this by the seat of my pants.</p>
<p>I want to add a couple of specific touches on this overlay layer as well. I burn the road heavily to give it a "black top" look, instead of the bright and washed out look it had in the original. I just think it looks cool. I also use a large burn brush to give the image a <a href="http://en.wikipedia.org/wiki/Vignetting">vignette</a>, an effect that is used to draw the viewer into an image in a kind of "tunnel vision" way. Please, be gentle with the vignette brush. A harsh vignette is highly distracting and in my opinion just looks silly. This image is about as far as I'd ever go with it. After all of these steps I'm left with this image<br />
<img src="/images/2010-01-overlay.jpg" alt="" title="After overlay" width="768" height="512" class="alignnone size-full wp-image-281" /><br />
and this overlay layer<br />
<img src="/images/2010-01-overlay2.jpg" alt="" title="Overlay" width="768" height="512" class="alignnone size-full wp-image-282" /></p>
<p>My final step is sharpening. Images pulled from RAW are generally quite soft. This is because a good RAW image has no processing done to it, and it's a good thing. It means that we, the photographers, have full control over the sharpening step, rather than some mysterious algorithm designed by some software developer of indeterminate skill doing the work for us. I'm a big fan of the Photoshop Smart Sharpen (I think it has been around since CS3). I don't usually even bother with the advanced settings as I find that changing just the Amount and Radius settings give me as fine a degree of control as I need in most cases. Filter -> Sharpen -> Smart Sharpen. For this image I used something like Amount = 150%, Radius = 1.4 pixels (I'm sorry, I can't remember the exact settings but it's around here). Experiment to find the settings that work for your picture. Generally if you have very fine, small details you'll want to keep the radius very low (1 pixel or less in some cases), while having large details will allow you to bump the radius quite high, sometimes above 2.5 pixels.</p>
<p>Again I stress non-destructive editing, so before I apply any sharpening I hit Ctrl+Alt+Shift+E to create a new layer on top that is a merge of all visible layers below it. I then apply the sharpening to this new layer. Here's another view of the original image, followed by the final product. I hope this article was helpful, and encourage you to leave a comment if you want to discuss things further.</p>
<p><img src="/images/2010-01-orig-light.jpg" alt="" title="orig-light" width="768" height="512" class="size-full wp-image-259" /></p>
<p>[caption id="attachment_286" align="alignnone" width="768" caption="Drama at Lewis Pass"]<a href="http://www.flickr.com/photos/iamaelephant/4302197495/"><img src="/images/2010-01-finished.jpg" alt="Drama at Lewis Pass" title="Drama at Lewis Pass" width="768" height="512" class="size-full wp-image-286" /></a>[/caption]</p>
