---
layout: post
status: publish
published: true
title: Implementing the Mandelbrot set in F#
author:
  display_name: Martin Doms
  login: Martin Doms
  email: contact@martindoms.com
  url: http://martindoms.com
author_login: Martin Doms
author_email: contact@martindoms.com
author_url: http://martindoms.com
wordpress_id: 293
wordpress_url: http://blog.martindoms.com/?p=293
date: '2010-04-28 20:18:09 +1000'
date_gmt: '2010-04-28 08:18:09 +1000'
---
<p><img src="/images/2010-04-mandelbrot-blog-small.png" alt="Mandelbrot Set Small" title="Mandelbrot Set Small" width="280" height="241" class="alignright size-full wp-image-301" />One of my favourite things to do when learning a new language (or graphics package for that matter) is to write an implementation of a <a href="http://en.wikipedia.org/wiki/Mandelbrot_set">Mandelbrot set</a> viewer. So here's my F# version, annotated to help out anyone who is trying to get to know this language.</p>
<p>I'm still quite new to F# so if you spot something that just looks plain wrong (I know how you functional sticklers can be!) then let me know!</p>
<p>This program will help you understand</p>
<ul>
<li>Interacting with .NET in F#, particularly Windows Forms</li>
<li>Recursion in functional programming</li>
<li>Working with the new .NET 4 Complex built-in numeric type</li>
</ul>
<p>An understanding of complex numbers is assumed. </p>
<p>I'm going to start with the core functions of this program - the functions that will determine which points are in the set and which aren't. <del datetime="2010-05-30T20:27:26+00:00">I apologize in advance for the code coloring, I haven't been able to find a code coloring Wordpress plugin for F#. If you know of one, let me know!</del> Thanks a lot to Christian AbildsÃ¸ for suggesting a working F# syntax highlighter in the comments! Take a look at <a href="http://codernub.blogspot.com/">his blog</a> for some more great F# posts.</p>
<p>{% highlight csharp %}

// Recursively performs the transform Z -> Z^2 + c for the given number
// of iterations or until escapes the Z > |2| threshold
let rec transform (originalNum:Complex) (currentNum:Complex) maxIterations iterationNumber =
  if (iterationNumber = maxIterations) then 0
  else if (currentNum.Magnitude > 2.0) then iterationNumber
  else
    let sqr = Complex.Multiply(currentNum, currentNum)
    let newNum = Complex.Add(sqr, originalNum)
    let newIter = iterationNumber + 1
    transform originalNum newNum maxIterations newIter
// Returns whether or not the given complex number is in the set to the
// best possible accuracy we can get from the given number of iterations
let inMandelbrotSet (num:Complex) maxIterations =
  let iters = transform num num maxIterations 1
  if (iters = 0) then true
  else false

{% endhighlight %}
</p>
<p>The <span style="font-family: 'courier new';">inMandelbrotSet</span> function takes a complex number and an int and outputs a boolean (Complex -> int -> boolean in Curried notation). You might notice I often prefer curried parameters rather than tuples - this is a personal preference and there really isn't a good reason to choose one over the other. If you don't know the difference then you should read <a href="http://lorgonblog.spaces.live.com/blog/cns!701679AD17B6D310!192.entry?sa=791630530">this</a> excellent blog entry.</p>
<p>Essentially all this function does is pass on the work of figuring out whether it's in the set onto the <span style="font-family: 'courier new';">transform</span> function (Complex -> Complex -> int -> int -> int). <span style="font-family: 'courier new';">transform</span> recursively calls itself and checks if the value of the complex number "escapes" the threshold (I don't want to turn this post into a tutorial on the Mandelbrot set, but suffice it to say that if you apply the Z -> Z^2 + c transformation an infinite number of times and at some point it gives a result |Z| > 2 then the value can not possibly be in the set). If it escapes it returns the number of iterations it took to escape, otherwise it returns 0.</p>
<p>So basically now we have a function, <span style="font-family: 'courier new';">inMandelbrotSet</span> that will tell us whether or not a complex number is in the set.</p>
<p>Let's set up a Windows Form and a bitmap image to display the set.<br />
{% highlight csharp %}

// Setting up the UI components
let mainForm = new Form(Width = xSize, Height = ySize, Text = &quot;Mandelbrot Set&quot;)
let box =
  new PictureBox
  (BackColor = Color.White, Dock = DockStyle.Fill,
   SizeMode = PictureBoxSizeMode.CenterImage)
mainForm.Controls.Add(box)
// Sets up the canvas and generates the set on it
let generateSet (width:int) (height:int) =
  let bmp = new Bitmap(width, height)
  let gfx = Graphics.FromImage(bmp)
  for x in 0..(width-1) do
    for y in 0..(height-1) do
      let c = complexCoordinates(float(x),float(y))
      if (inMandelbrotSet c 200) then bmp.SetPixel(x, y, Color.Black)
  bmp

{% endhighlight %}
<br />
<span style="font-family: 'courier new';">xSize</span> and <span style="font-family: 'courier new';">ySize</span> are constants we'll define in a minute. <span style="font-family: 'courier new';">generateSet</span> is a function that creates a bitmap, builds the Mandelbrot set on it and returns the bitmap. The other stuff behind it is fairly self-explanatory, just setting up an ordinary .NET Windows form. Take a look at the constructor for the PictureBox - notice we can define values inline. This is pretty cool, it means that we can treat the PictureBox as an immutable object even though it really isn't. Just helps to make things feel more "functional".</p>
<p>Now basically the only thing left to do is define some constants and transform our Bitmap coordinates to numbers on the complex plane. Here's the remaining code:<br />
{% highlight csharp %}
open System
open System.Drawing
open System.Windows.Forms
open System.Numerics
// Size of window and canvas
let xSize = 640
let ySize = 480
// Min and max complex coordinates to display on the canvas
let xMin = -2.0
let xMax = 1.0
let yMin = -1.2
let yMax = 1.2
// Size of each horizontal and vertical pixel in terms of complex numbers
let xFactor = (xMax - xMin) / float(xSize)
let yFactor = (yMax - yMin) / float(ySize)
// Transforms pixel positions into corresponding complex numbers
let complexCoordinates(x,y) =
  new Complex((x*xFactor + xMin), (y*yFactor - yMax))

{% endhighlight %}
</p>
<p>The constants at the top of the file define the ratio of a pixel to a complex number on the plane - the <span style="font-family: 'courier new';">xFactor</span> and <span style="font-family: 'courier new';">yFactor</span>. This is for mapping bitmap pixels to complex numbers. Finally, <span style="font-family: 'courier new';">complexCoordinates</span> does the actual mapping, turning two integers into a complex number. </p>
<p>Finally we give the program an entry point:<br />
{% highlight csharp %}

// Kick start the program
[<STAThread>]
do
    box.Image <- ((generateSet xSize ySize) :> Image)
    Application.Run(mainForm)

{% endhighlight %}
</p>
<p>That funny :> operator is a cast in F#. This particular version is an unchecked runtime cast. The arrow notation is a way of changing an object's properties - generally something you don't want to do in functional programming (where everything is immutable) but of course F# has to interact with the .NET framework, so it's really a hybrid language.</p>
<p>Put it all together and this is what you get:[caption id="attachment_300" align="alignnone" width="500" caption="Mandelbrot Set in F#"]<img src="/images/2010-04-mandelbrot-blog.png" alt="Mandelbrot Set in F#" title="Mandelbrot Set in F#" width="500" height="400" class="size-full wp-image-300" />[/caption]</p>
