---
layout: post
status: publish
published: true
title: Using the Google Reader API — Part 3
author:
  display_name: Martin Doms
  login: Martin Doms
  email: contact@martindoms.com
  url: http://martindoms.com
author_login: Martin Doms
author_email: contact@martindoms.com
author_url: http://martindoms.com
wordpress_id: 184
wordpress_url: http://blog.martindoms.com/?p=184
date: '2010-01-20 11:07:09 +1100'
date_gmt: '2010-01-19 22:07:09 +1100'
---
<p>Google Reader API series</p>
<ul>
<li><a href="http://blog.martindoms.com/2009/08/15/using-the-google-reader-api-part-1/">Part 1 - Programming to the API</a></li>
<li><a href="http://blog.martindoms.com/2009/10/16/using-the-google-reader-api-part-2/">Part 2 - Listing API</a></li>
<li>Part 3 - Editing API</ul>
<p>In part 3 of this series on using the Google Reader API I will discuss using the POST API to edit your Google Reader data. Although the <a href="http://en.wikipedia.org/wiki/Representational_State_Transfer">REST architecture</a> and HTTP in general doesn't enforce it, Google appears to have chosen to make any commands which alter the state of your Reader account POST (as opposed to GET) requests.</p>
<p>In <a href="http://blog.martindoms.com/2009/08/15/using-the-google-reader-api-part-1/">Part I</a> I went over how to program for the HTTP POST requests so for now I'll just go over the API. Arguments to POST calls are stored in a separate message body, unlike GET arguments which are stored in the URL exclusively. This is the main differentiating factor between the two types of calls. All POST calls to the Google Reader API take a single GET argument in the URL string - the <i>client</i> argument, which is the same as the <i>client</i> argument seen in all of the API calls in <a href="http://blog.martindoms.com/2009/10/16/using-the-google-reader-api-part-2/">Part II</a> of this series - just use a unique string identifying your own software package if in doubt.</p>
<p>For the purposes of this tutorial I'll split the calls into a number of categories.</p>
<ul>
<li><strong><a href="#sub-editing">Subscription editing</a></strong> - adding, editing and removal of subscriptions and their folders/tags</li>
<li><strong><a href="#item-editing">Item editing</a></strong> - editing of items, such as adding/removing tags and stars, "liking" items, sharing (broadcasting) items, keeping items unread, etc.
<li><strong><a href="#email">Email</a></strong> - Emailing items using your Google Gmail account</ul>
<p><a name="sub-editing"></a><br />
<h2>Subscription Editing</h2>
<p><strong>URL:</strong> http://www.google.com/reader/api/0/subscription/edit?client=<i>[your client]</i><br />
<br />
<strong>POST Data</strong></p>
<table>
<tr>
<td width="75"  style="border-bottom:1px solid black"><strong>Argument</strong></td>
<td  style="border-bottom:1px solid black"><strong>Description</strong></td>
</tr>
<tr>
<td>s</td>
<td>The feed identifier. This is the URL of the feed preceeded by <i>feed/</i>, for example <font face="Courier New">feed/http://blog.martindoms.com/feed/</font> for this blog's RSS feed.</p>
</td>
</tr>
<tr>
<td>ac</td>
<td>The action to take on this feed. Possible values are <font face="Courier New">subscribe</font> to subscribe, <font face="Courier New">unsubscribe</font> to unsubscribe and <font face="Courier New">edit</font> to edit the feed.</p>
</td>
</tr>
<tr>
<td>t</td>
<td>The title to give the feed, only relevant in <font face="Courier New">subscribe</font> and <font face="Courier New">edit</font> actions.</p>
</td>
</tr>
<tr>
<td>r</td>
<td>A label to remove from the feed. This is in the format <font face="Courier New">user/<i>[UserID]</i>/label/<i>[LabelName]</i></font>. As usual <i>UserID</i> can be replaced with a single dash. For example, to remove the label "MyLabel" you'd use the string <font face="Courier New">user/-/label/MyLabel</font></p>
</td>
</tr>
<tr>
<td>a</td>
<td>A label to add to the feed. See the notes for the <i>r</i> argument above.</p>
</td>
</tr>
<tr>
<td>T</td>
<td>Your token (see <a href="http://blog.martindoms.com/2009/08/15/using-the-google-reader-api-part-1/">Part I</a> if you're unsure of what this is). This is an argument in every POST call.</p>
</td>
</tr>
</table>
<p></p>
<h4>Examples</h4>
<p><strong>Adding a feed</strong> - let's add this blog's main RSS feed to our subscriptions, but give it the title "Mr Doms' Blog". We'll POST the following data to the relevant URL (at the <a href="#sub-editing">top</a> of this section). You'll need to URL encode this data before posting but I've left it unencoded for ease of reading. Let's assume I've already got myself a token which looks like <i>abcde.ABCD1234abc</i><br />
<font face="Courier New">s=feedhttp://blog.martindoms.com/feed/&ac=subscribe&t=Mr Doms' Blog&T=abcde.ABCD1234abc</font><br />
<strong>Editing a feed</strong> - we want to add this feed to our "Infrequently Updated Blogs" folder on Google Reader to keep things organized. POST this data:<br />
<font face="Courier New">a=user/-/label/Infrequently Updated Blogs&s=feed/http://blog.martindoms.com/feed/&ac=edit&<br />
T=abcde.ABCD1234abc</font><br />
<strong>Removing a feed</strong> - finally, let's remove this blog from our subscriptions out of frustration at Martin's lack of regular updates.<br />
<font face="Courier New">s=feed/http://blog.martindoms.com/feed/&ac=unsubscribeT=abcde.ABCD1234abc</font></p>
<p><a name="item-editing"></a><br />
<h2>Item Editing</h2>
<p><strong>URL:</strong> http://www.google.com/reader/api/0/edit-tag?client=<i>[your client]</i><br />
<br />
<strong>POST Data</strong></p>
<table>
<tr>
<td width="75"  style="border-bottom:1px solid black"><strong>Argument</strong></td>
<td  style="border-bottom:1px solid black"><strong>Description</strong></td>
</tr>
<tr>
<td>a</td>
<td>A new tag to add. This can take one of several formats depending on the type of tag you're adding to the item. See the notes at the bottom of this table for details.</td>
</tr>
<tr>
<td>r</td>
<td>Remove an existing tag. This tag can take one of several formats depending on the type of tag you're removing from the item. See the notes at the bottom of this table for details.</td>
</tr>
<tr>
<td>async</td>
<td>Can be either true or false. This appears to be a utility argument for Google's own website, as it doesn't seem to make a difference to my API calls.</td>
</tr>
<tr>
<td>s</td>
<td>The feed that this item belongs to. See the previous section for information on the format of this argument.</td>
</tr>
<tr>
<td>i</td>
<td>The item you want to tag. This is in the format <font face="Courier New">tag:google.com,2005:reader/item/[item identifier]</font>.</td>
</tr>
<tr>
<td>T</td>
<td>As usual this is your token. See <a href="http://blog.martindoms.com/2009/08/15/using-the-google-reader-api-part-1/">Part I</a> if you're unsure about what this is.</td>
</tr>
</table>
<p><strong>Tag identifier formatting</strong> - to add or remove a tag on an item you need to use a tag identifier string in the <i>a</i> or <i>r</i> argument. Google doesn't seem to have a fully consistent way of formatting these tag identifiers, but here's what I've figured out.</p>
<ul>
<li>Add/remove a custom tag (item label): <font face="Courier New">user/-/label/[NewTag]</font></li>
<li>Mark an item read or unread: <font face="Courier New">user/-/com.google/read</font></li>
<li>Star an item: <font face="Courier New">user/-/state/com.google/starred</font></li>
<li>Add or remove a "keep unread" tag: <font face="Courier New">user/-/state/com.google/tracking-kept-unread</font></li>
<li>"Like" or un-"like" an item: <font face="Courier New">user/-/state/com.google/like</font></li>
<li>Share or unshare an item with Google Reader friends: <font face="Courier New">user/-/state/com.google/broadcast</font></li>
</ul>
<h4>Examples</h4>
<p>To use any tag features you'll need to retrieve an item identifier. Presumably if you're displaying items in your software then you've already got an item identifier. If you don't know how to retrieve these items, see <a href="http://blog.martindoms.com/2009/10/16/using-the-google-reader-api-part-2/">Part II</a> for the listing API. For the purpose of these examples I'll be working with an item that represents Part I of this series, which happens to be item <font face="Courier New">0816b6dbac1d768d</font>. We'll also be assuming a token string abcde.ABCD1234abc as before.<br />
<strong>Add a star</strong> - to add a star we send the POST data <font face="Courier New">a=user/-/state/com.google/starred&async=true&s=feed/http://blog.martindoms.com/feed/&i=tag:google.com,2005:reader/item/0816b6dbac1d768d&T=abcde.ABCD1234abc</font><br />
<strong>Mark as unread</strong> - we want to remove the "read" tag to mark an item as unread. Use this POST data: <font face="Courier New">a=user/-/state/com.google/read&async=true&s=feed/http://blog.martindoms.com/feed/&i=tag:google.com,2005:reader/item/0816b6dbac1d768d&T=abcde.ABCD1234abc</font><br />
<br />The item tagging doesn't get any more complicated than that. Easy!</p>
<p><a name="email"></a><br />
<h2>Emailing</h2>
<p><strong>URL:</strong> http://www.google.com/reader/email-this?ck=<i>[CurrentUnixTime]</i>&client=<i>[YourClient]</i><br />
(current Unix time argument is optional)<br />
<br />
<strong>POST Data</strong></p>
<table>
<tr>
<td width="75"  style="border-bottom:1px solid black"><strong>Argument</strong></td>
<td  style="border-bottom:1px solid black"><strong>Description</strong></td>
</tr>
<tr>
<td>i</td>
<td>The item identifier. See the <a href="#item-editing">previous section</a> for details.</td>
</tr>
<tr>
<td>emailTo</td>
<td>The email addresses to send the item to. You can send to multiple recipients. These addresses are in the format <font face="Courier New">
<person1@internet.com>,
<person2@isp.net>, </font></td>
</tr>
<tr>
<td>comment</td>
<td>The email body</td>
</tr>
<tr>
<td>subject</td>
<td>The email subject</td>
</tr>
<tr>
<td>ccMe</td>
<td>Whether to send the email to your own GMail account also. Can be true or false.</td>
</tr>
<td>T</td>
<td>Your token. See <a href="http://blog.martindoms.com/2009/08/15/using-the-google-reader-api-part-1/">Part I</a> if you're unsure of what this is.</td>
</tr>
</table>
<h4>Example</h4>
<p>Here's some example POST data to send an email about Part I of this series of articles to the address example@example.com<br />
<font face="Courier New">i=i=tag:google.com,2005:reader/item/0816b6dbac1d768&emailTo= &lt;example@example.com&gt;, &comment=Check this out&subject=Google Reader API&ccMe=false&T=abcde.ABCD1234abc</font></p>
