---
layout: post
status: publish
published: true
title: Problem opening OpenXml files after modifying them programmatically? Read this.
author:
  display_name: Martin Doms
  login: Martin Doms
  email: contact@martindoms.com
  url: http://martindoms.com
author_login: Martin Doms
author_email: contact@martindoms.com
author_url: http://martindoms.com
wordpress_id: 648
wordpress_url: http://blog.martindoms.com/?p=648
date: '2012-04-19 09:32:13 +1000'
date_gmt: '2012-04-18 21:32:13 +1000'
---
<p>Microsoft has some pretty good <a href="http://msdn.microsoft.com/en-us/library/bb332456(v=office.12).aspx">documentation</a> around modifying OpenXml files using the <a href="http://msdn.microsoft.com/en-us/library/system.io.packaging.aspx">System.IO.Packaging</a> API, but I found every time I tried to open an Excel file I had modified it was telling me the file was damaged and needed to be repaired. The repair process would go ahead and remove the files I had modified from the package altogether. If I looked inside the XLSX file before doing the repair my changes were there and seemed to be just fine.</p>
<p>Turns out I was using the wrong combination of MIME type and compression when saving my changes into the package. The correct MIME type for OpenXML spreadsheet package parts is</p>
<blockquote><p>application/vnd.openxmlformats-officedocument.spreadsheetml.connections+xml</p></blockquote>
<p>and the compression level should be</p>
<blockquote><p>CompressionOption.SuperFast</p></blockquote>
<p>Here is a code snippet I'm using the save the package part.<br />
{% highlight csharp %}

string partContents = // some XML here
Uri partUri = new Uri(/*uri of part in package*/, UriKind.Relative);
const string OpenXmlSpreadsheetMime = "application/vnd.openxmlformats-officedocument.spreadsheetml.connections+xml";
var newPart = package.CreatePart(partUri, OpenXmlSpreadsheetMime, CompressionOption.SuperFast);
if (newPart != null)
{
    using (var stream = newPart.GetStream())
    using (var writer = new StreamWriter(stream))
    {
         writer.Write(partContents);
    }
}

{% endhighlight %}
</p>
<p>The other OpenXML MIME types have been <a href="http://blogs.msdn.com/b/dmahugh/archive/2006/08/08/692600.aspx">documented by Doug Mahugh</a>:<br />
<TABLE cellPadding=3></p>
<p><TBODY></p>
<p><TR></p>
<p><TD><B>File Extension:</B></TD></p>
<p><TD><B>Content Type:</B></TD></TR></p>
<p><TR></p>
<p><TD>docm</TD></p>
<p><TD>application/vnd.ms-word.document.macroEnabled.12</TD></TR></p>
<p><TR></p>
<p><TD>docx</TD></p>
<p><TD>application/vnd.openxmlformats-officedocument.wordprocessingml.document</TD></TR></p>
<p><TR></p>
<p><TD>dotm</TD></p>
<p><TD>application/vnd.ms-word.template.macroEnabled.12</TD></TR></p>
<p><TR></p>
<p><TD>dotx</TD></p>
<p><TD>application/vnd.openxmlformats-officedocument.wordprocessingml.template</TD></TR></p>
<p><TR></p>
<p><TD>ppsm</TD></p>
<p><TD>application/vnd.ms-powerpoint.slideshow.macroEnabled.12</TD></TR></p>
<p><TR></p>
<p><TD>ppsx</TD></p>
<p><TD>application/vnd.openxmlformats-officedocument.presentationml.slideshow</TD></TR></p>
<p><TR></p>
<p><TD>pptm</TD></p>
<p><TD>application/vnd.ms-powerpoint.presentation.macroEnabled.12</TD></TR></p>
<p><TR></p>
<p><TD>pptx</TD></p>
<p><TD>application/vnd.openxmlformats-officedocument.presentationml.presentation</TD></TR></p>
<p><TR></p>
<p><TD>xlsb</TD></p>
<p><TD>application/vnd.ms-excel.sheet.binary.macroEnabled.12</TD></TR></p>
<p><TR></p>
<p><TD>xlsm</TD></p>
<p><TD>application/vnd.ms-excel.sheet.macroEnabled.12</TD></TR></p>
<p><TR></p>
<p><TD>xlsx</TD></p>
<p><TD>application/vnd.openxmlformats-officedocument.spreadsheetml.sheet</TD></TR></p>
<p><TR></p>
<p><TD>xps</TD></p>
<p><TD>application/vnd.ms-xpsdocument</TD></TR></TBODY></TABLE></p>
