---
layout: post
status: publish
published: true
title: Importing non-.rdl reports using Microsoft Dynamics CRM Web Services
author:
  display_name: Martin Doms
  login: Martin Doms
  email: contact@martindoms.com
  url: http://martindoms.com
author_login: Martin Doms
author_email: contact@martindoms.com
author_url: http://martindoms.com
wordpress_id: 643
wordpress_url: http://blog.martindoms.com/?p=643
date: '2012-04-17 15:33:50 +1000'
date_gmt: '2012-04-17 03:33:50 +1000'
---
<p>This post is mostly for my own benefit for the future, in case I need to do this again.</p>
<p>I spent a good hour trying to figure out how to import XLSX reports into CRM using the web services, mostly because it's not clear how one should encode the report into the <strong>BodyBinary</strong> field of the Report object. For background details take a look at <a href="http://msdn.microsoft.com/en-us/library/gg309267.aspx">this article on MSDN</a>, which gives most of the details except what I just mentioned.</p>
<p>The trick is to encode your report in a Base64 string, which doesn't seem to be documented anywhere. Failing to do this will result in an <strong>OrganizationServiceFault</strong> with the following message:</p>
<blockquote><p>The field 'bodybinary' contains one or more invalid characters.</p></blockquote>
<p>Here is the correct code for creating the Report object<br />
{% highlight csharp %}
var report = new Report
                {
                    Name = ReportName,
                    BodyBinary = Convert.ToBase64String(File.ReadAllBytes(ReportFileName)),
                    FileName = ReportFileName,
                    LanguageCode = ReportLanguageCode,
                    ReportTypeCode = 2 // 2 == "Existing File"
                };

{% endhighlight %}
</p>
