---
layout: post
status: publish
published: true
title: ".NET Daily Quiz archive — week 6"
author:
  display_name: Martin Doms
  login: Martin Doms
  email: contact@martindoms.com
  url: http://martindoms.com
author_login: Martin Doms
author_email: contact@martindoms.com
author_url: http://martindoms.com
wordpress_id: 852
wordpress_url: http://blog.martindoms.com/?p=852
date: '2012-10-10 15:54:44 +1100'
date_gmt: '2012-10-10 02:54:44 +1100'
---
<p><strong>.NET Daily Quiz #026</strong></p>
<p>Welcome to Javascript week! This week it's all JS, which is good for me because coming up with Javascript gotchas is like shooting fish in a barrel.</p>
<p>Let's start with a softball. What does this function return?</p>
<p>{% highlight js %}
function helloThere(name) {
    return
    {
        theName: name
    };
}
{% endhighlight %}
</p>
<p><strong>Answer</strong></p>
<p>The function returns 'undefined'.</p>
<p>In Javascript the expression to return must start on the same line as the return keyword. In the example I gave the expression started on the next line. As a result, the Javascript language requires a semicolon insertion on return. The resulting code looks like</p>
<p>{% highlight js %}
return;
{
    theName:name
};
{% endhighlight %}
</p>
<p>and the returned value is undefined. The solution is to write the statement like so:</p>
<p>{% highlight js %}
return {
    theName:name
};
{% endhighlight %}
</p>
<p>You should know the rules for semicolon insertion by heart - not because you are relying on the interpreter to insert your semicolons, but so that you can explicitly use semicolons in every case. Never rely on semicolon insertion. If you follow this rule then any time you do spot a case of semicolon insertion in your JS you can assume it's a bug and fearlessly change it.</p>
<p>Semicolon insertion rules:<br />
<a href="http://www.ecma-international.org/publications/files/ECMA-ST/Ecma-262.pdf">http://www.ecma-international.org/publications/files/ECMA-ST/Ecma-262.pdf</a> (PDF warning, page 26)</p>
<p>7.9.1 Rules of Automatic Semicolon Insertion<br />
There are three basic rules of semicolon insertion:</p>
<p>1. When, as the program is parsed from left to right, a token (called the offending token) is encountered that is not allowed by any production of the grammar, then a semicolon is automatically inserted before the offending token if one or more of the following conditions is true:<br />
-	The offending token is separated from the previous token by at least one LineTerminator.<br />
-	The offending token is }.</p>
<p>2. When, as the program is parsed from left to right, the end of the input stream of tokens is encountered and the parser is unable to parse the input token stream as a single complete ECMAScript Program, then a semicolon is automatically inserted at the end of the input stream.</p>
<p>3. When, as the program is parsed from left to right, a token is encountered that is allowed by some production of the grammar, but the production is a restricted production and the token would be the first token for a terminal or nonterminal immediately following the annotation  "[no LineTerminator here]" within the restricted production (and therefore such a token is called a restricted token), and the restricted token isseparated from the previous token by at least one  LineTerminator, then a semicolon is automatically inserted before the restricted token.</p>
<p>However, there is an additional overriding condition on the preceding rules: a semicolon is never inserted<br />
automatically if the semicolon would then be parsed as an empty statement or if that semicolon would become<br />
one of the two semicolons in the header of a for statement (see 12.6.3).</p>
<hr />
<p><strong>.NET Daily Quiz #027</strong></p>
<p>There’s a major problem with this function. Do you know what it is?</p>
<p>{% highlight js %}
function getDocument(txt, abstr) {
    var c = "lower";
    for (var i = 0; i < txt.length; i++)
        if (txt.charAt(i) == txt.charAt(i).toUpperCase()) c = "mixed";
    return {
        text: txt,
        abstract: abstr,
        native: true,
        case: c,
        export: function () {
            // export to .zip'd JSON
            return zip;
        }
    };
}
var doc = getDocument("This is my document", "brief abstract");
{% endhighlight %}
</p>
<p>Warning: this will work in some implementations, but it’s broken according to the spec.</p>
<p><strong>Answer:</strong></p>
<p>Believe it or not, the following names from the example are reserved words in Javascript: abstract, native, case, export</p>
<p>In fact, Javascript has reserved a whole slew of words that are not used in the language and are illegal if used as identifiers. Following is the complete list of reserved words in JS.</p>
<p>{% highlight csharp %}
abstract 	else  		instanceof	super
boolean  	enum  		int  		switch
break  	 	export  	interface 	synchronized
byte  	 	extends  	let  		this
case  	 	false  		long  		throw
catch  	 	final  		native  	throws
char  	 	finally  	new  		transient
class  	 	float  		null  		true
const  	 	for  		package  	try
continue 	function  	private  	typeof
debugger 	goto  		protected 	var
default  	if  		public  	void
delete   	implements  return  	volatile
do  	 	import  	short  		while
double   	in  		static  	with  
{% endhighlight %}
</p>
<p><a href="http://www.javascripter.net/faq/reserved.htm">http://www.javascripter.net/faq/reserved.htm</a></p>
<hr />
<p><strong>.NET Daily Quiz #028</strong></p>
<p>This Javascript program works perfectly:</p>
<p>{% highlight js %}
(function () {
    function printArgs(arr) {
        for (var i = 0; i < arr.length; i++) {
            console.log(arr[i]);
        }
    }
    function getLastTwoValues(arr) {
        return arr.slice(-2);
    }
    var arr = [1, 2, 3, 4, 5];
    printArgs(arr);
    console.log(getLastTwoValues(arr));
})();
{% endhighlight %}
</p>
<p>Does this one behave the same? If yes, how? If not, why not?</p>
<p>{% highlight js %}
(function () {
    function printArgs() {
        for (var i = 0; i < arguments.length; i++) {
            console.log(arguments[i]);
        }
    }
    function getLastTwoValues() {
        return arguments.slice(-2);
    }
    printArgs(1, 2, 3, 4, 5);
    console.log(getLastTwoValues(1, 2, 3, 4, 5));
})();
{% endhighlight %}
</p>
<p>Note: I’m aware that the console object is not cross-browser compatible. Unless otherwise specified you can always assume my JS quizzes target the latest mainstream version of Chrome. V8 Engine is best engine.</p>
<p><strong>Answer:</strong></p>
<p>The second program will fail to execute inside of getLastTwoValues(), and here's why:</p>
<p>Every function call supplies two extra arguments additional to what it declares - this and arguments. this is dependent on scope (we'll get into this in a future quiz) and arguments is an "array" representing all of the arguments passed into a function, even if no arguments are declared in the function signature.</p>
<p>The problem is that arguments isn't actually an Array - it looks and acts like one in some cases, but has Object prototype and happens to contain a length property. Calling slice() (or any other Array methods) on arguments will fail.</p>
<p>If you really need to apply Array methods on your arguments parameter you can convert arguments to an array. The most common way of doing this is using the following idiom:</p>
<p>{% highlight js %}
var actualArray = Array.prototype.slice.apply(arguments);
{% endhighlight %}
</p>
<p>This is kind of hacky, but it seem to be common enough (Crockford uses it fairly extensively in his famous book, <a href="http://shop.oreilly.com/product/9780596517748.do">Javascript: the Good Parts</a>).</p>
<p>Array.prototype.slice is a function that returns a subarray. The apply method is on the Function prototype and applies a given function, using the first argument as the this variable and subsequent arguments as function arguments. slice always returns an array, even when no arguments are supplied, so when we apply slice to arguments the returned value is an array with every element from arguments.</p>
<p>The complete code for our function becomes:</p>
<p>{% highlight js %}
function getLastTwoValues() {
    var slice = Array.prototype.slice;
    return slice.apply(arguments).slice(-2);
}
{% endhighlight %}
</p>
<p>In my opinion using Array.prototype.slice.apply is hackish and relies on implementation details of Array.slice() that we shouldn't be aware of. However, so much code now relies on this behaviour that it's unlikely to change in the near future. I'll use it, but I'll shower afterwards.</p>
<hr />
<p><strong>.NET Daily Quiz #029</strong></p>
<p>My program is not behaving as expected. What is the console output and why? How can I fix it?</p>
<p>{% highlight js %}
var myValue = 0;
(function () {
    for (; myValue < 10; myValue++) {
        console.log(myValue);
    }
    var myValue = 0;
    console.log(myValue);
}());
{% endhighlight %}
</p>
<p><strong>Answer:</strong></p>
<p>The output look liks<br />
{% highlight csharp %}
0
{% endhighlight %}
</p>
<p>The issue here is a concept called <a href="https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Statements/var">variable hoisting</a>. Because we're prefixing myValue inside the function with var we are creating a new inner variable that hides the outer myValue (a variable that is never actually used). This inner myValue is then <i>hoisted</i> to the top of the function and assigned an undefined value, as per the Javascript specification. The resulting code looks something like:</p>
<p>{% highlight js %}
var myValue = 0;
(function () {
    var myValue;
    for (; myValue < 10; myValue++) {
        console.log(myValue);
    }
    myValue = 0;
    console.log(myValue);
}());
{% endhighlight %}
</p>
<p>Here the loop immediately terminates because "myValue < 10" evaluates to "undefined < 10" which is always false.</p>
<p>As an addendum, here’s the correct code if you really want myValue to remain in the global namespace (or the current function scope if my entire program happened to be wrapped in a function of its own):</p>
<p>{% highlight js %}
var myValue = 0;
(function () {
    for (; myValue < 10; myValue++) {
        console.log(myValue);
    }
    myValue = 0;
    console.log(myValue);
}());
{% endhighlight %}
</p>
<p>The only change I have made here is removing the var from the inner reference to myValue. This prevents the creation of a shadowed copy which prevents the hoisting of myValue to the top of the function. The program now behaves as expected.</p>
<hr />
<p><strong>.NET Daily Quiz #030</strong></p>
<p>Can you explain the behaviour of this program?</p>
<p>{% highlight js %}
(function () {
    var MyObject = function (id) {
        this.id = id;
        this.printId = function () {
            console.log("My id is " + id);
        }
    }
    var obj1 = new MyObject(123);
    var obj2 = {
        id: 123,
        printId: function () { console.log("My id is " + this.id); }
    };
    obj1.printId();              // prints "My id is 123"
    obj2.printId();              // prints "My id is 123"
    setTimeout(obj1.printId, 1); // prints "My id is 123"
    setTimeout(obj2.printId, 1); // prints "My id is undefined"
}());
{% endhighlight %}
</p>
<p><strong>Answer:</strong></p>
<p>As usual with Javascript it comes down to the behaviour of the <strong>this </strong>variable. What’s happening here is that setTimeout uses the Function.apply (or maybe Function.call) method to apply the given function. Function.apply takes as its first argument a variable to set to the <strong>this </strong>context (see quiz #028). Because the id field is not set on the <strong>this </strong>supplied (the global object) it is undefined.</p>
<p>The reason obj1 is behaving “correctly” is because there’s a bug in the constructor function! We are binding the id argument to this.id but this is not the field we are using in printId() — we are using the captured id argument in a closure! Changing the id field on obj1 has no effect because we are not closed over that field. We can fix the MyObject constructor by writing it as</p>
<p>{% highlight js %}
var MyObject = function (id) {
    this.id = id;
    this.printId = function () {
        console.log("My id is " + this.id);
    }
}
{% endhighlight %}
</p>
<p>And make out code work correctly by calling the function in setTimeout like this:<br />
{% highlight js %}
setTimeout(function () { obj1.printId(); }, 1); // prints "My id is 123"
{% endhighlight %}
</p>
<p>Javascript is a subtle language. There were two bugs (intentional) in the original code, but those bugs appeared to make the broken object work correctly and the correct object look broken.</p>
