---
layout: post
status: publish
published: true
title: How to include a large directory tree in a Wix installer using a Visual Studio
  Wix project
author:
  display_name: Martin Doms
  login: Martin Doms
  email: contact@martindoms.com
  url: http://martindoms.com
author_login: Martin Doms
author_email: contact@martindoms.com
author_url: http://martindoms.com
wordpress_id: 607
wordpress_url: http://blog.martindoms.com/?p=607
date: '2012-02-27 20:01:04 +1100'
date_gmt: '2012-02-27 07:01:04 +1100'
---
<p><a href="http://wix.sourceforge.net/">Wix</a> is an awesome tool, but part of the challenge of using it is some dense and difficult to follow documentation. Today I spent a large amount of time trying to build an installer that included a very large directory tree without having to manually add each item. Hopefully this article will help get you through some of the problems I ran into while doing it.</p>
<p>My first approach was to use a <a href="http://wix.sourceforge.net/manual-wix3/msbuild_task_reference_heatdirectory.htm">HeatDirectory</a> MSBuild task. When building a Wix project in Visual Studio this will cause <a href="http://wix.sourceforge.net/manual-wix3/heat.htm">heat.exe</a> to be called in a pre-build step. For most cases this would work fine, but unforunately I couldn't make this work. The problem I ran into was</p>
<p><strong>Error	1 The system cannot find the file '..\..\Very\Long\File\Path\...\BusinessServiceHostConfigurationImplementation.csproj.FileListAbsolute.txt' with type ''. light.exe</strong></p>
<p>For the record, here is my original HeatDirectory build task. For most cases this will work perfectly fine.</p>
<p>{% highlight xml %}

<Target Name="BeforeBuild">
Â  <HeatDirectory
    DirectoryRefId="INSTALLLOCATION"
    OutputFile="source.wxs"
    Directory="..\..\MySourceDir"
    ComponentGroupName="SourceComponentGroup"
    ToolPath="$(WixToolPath)"
    PreprocessorVariable="var.SourcePath"
    AutogenerateGuids="true">
  


{% endhighlight %}
</p>
<p>The issue here is that light.exe can't handle file paths of longer than 255 characters. If your file paths are very, very long then you may well be out of luck here - as far as I know there's no workaround for this problem.</p>
<p>Luckily for me I was working with folder paths that are long, but not absurdly long. I was just on the borderline so I figured if I copied the directory tree to some reasonable location like <em>c:\st</em> then I could work with light.exe.</p>
<p>The next issue here is that using these VS Wix projects the HeatDirectory tasks are executed even before pre-build steps. I elected to do the directory tree copy and heat.exe call in pre-build steps. To make the project build nicely without having to dick around too much with the Wix VS project I keep the target file in the project and overwrite it with my heat.exe target file. This way you can just check in an empty .wxs and things will work nicely.</p>
<p>Here is my pre-build event code that will copy the directory tree and execute Heat.exe<br />
{% highlight csharp %}

robocopy "$(SolutionDir)..\MySourcePath" %SystemDrive%\st /MIR
"%WIX%\bin\heat.exe" dir %SystemDrive%\st -dr INSTALLLOCATION -cg SourceComponentGroup -var var.SourcePath -ag -out "$(SolutionDir).\WixProject\source.wxs"

{% endhighlight %}
</p>
<p>A couple of cool things you might want to take note of in case you don't know:<br />
<strong>%WIX%</strong>: This is an environment variable set by the Wix installer. It points to your Wix installation directory, so getting to that /bin folder is nice and easy.<br />
<strong>-var</strong>: This is an argument to heat.exe. Without it your output .wxs file will point all <file> elements at SourceDir in their Source attribute. Yeah, I'll be fucked if I know why, but there you go. You can set this variable from your project properties:<br />
<a href="/images/2012-02-Screen-shot-2012-02-27-at-7.56.23-PM.png"><img src="/images/2012-02-Screen-shot-2012-02-27-at-7.56.23-PM.png" alt="" title="Wix project properties" width="656" height="206" class="aligncenter size-full wp-image-613" /></a></p>
<p>Now that we have a new .wxs file in our solution just refer to this component group in your main Wix file using<br />
{% highlight xml %}
<ComponentGroupRef Id="SourceComponentGroup"/>
{% endhighlight %}
<br />
in one of your features and you're all done. </p>
<p>Yeah, this isn't the most thrilling subject to read (or write) about, but it can be frustrating to figure this stuff out for yourself.</p>
