---
layout: post
status: publish
published: true
title: ".NET Daily Quiz archive - week 4"
author:
  display_name: Martin Doms
  login: Martin Doms
  email: contact@martindoms.com
  url: http://martindoms.com
author_login: Martin Doms
author_email: contact@martindoms.com
author_url: http://martindoms.com
wordpress_id: 831
wordpress_url: http://blog.martindoms.com/?p=831
date: '2012-09-21 15:40:04 +1000'
date_gmt: '2012-09-21 03:40:04 +1000'
---
<p><strong>.NET Daily Quiz #016</strong></p>
<p>Today we'll think about program design. Can you defined the following terms?<br />
1.	The no-throw guarantee<br />
2.	The strong exception guarantee<br />
3.	The weak exception guarantee</p>
<p>Which guarantee does this snippet offer, assuming RetrieveTaxRate could throw an exception?</p>
<p>{% highlight csharp %}
var employees = GetAllEmployees();
var taxReport = employees.Select(e => e.RetrieveTaxRate());
{% endhighlight %}
</p>
<p>What about this snippet?</p>
<p>{% highlight csharp %}
var employees = GetAllEmployees();
var taxReport = employees.Select(e =>
      {
            var rate = e.RetrieveTaxRate()
            e.TotalTax += rate;
            return rate;
      });
{% endhighlight %}
</p>
<p>Consider some code you have written recently. Which guarantees do you offer? Is there something you can do with your application to make stronger guarantees?</p>
<p><strong>Answer:</strong></p>
<p>These terms refer to the guarantees that your individual methods make with regards to their approach to exception-handling:<br />
1.	<strong>No-throw</strong> guarantees that a method will not throw an exception under any non-fatal circumstances. In my opinion (take it for what it’s worth) even a no-throw method could potentially throw OutOfMemoryExceptions and other very fatal exceptions.<br />
2.	The <strong>strong exception guarantee</strong> states that the method may throw an exception, but if it does then the containing object and any data it is working on will remain in the state it was in before the method was called. Any changes to internal data structures will be rolled back before the exception is (re-)thrown.<br />
3.	The <strong>weak exception guarantee</strong> states that an exception may be thrown, but that the object will be guaranteed to be in a useful but unknown state. The object and its internal data structures may have changed, but they will not be invalid. For example, maybe a method will be operating on a bunch of Money objects, and at some intermediate stage the Money objects will have the internal value of _dollars = -1 (an illegal value). One way of satisfying the weak exception guarantee would be to set these value to _dollars = 0 — this value is legal, but not necessarily correct. </p>
<p>Conversely to these guarantees we could consider the zeroeth exception guarantee — that all internal data structures cannot be guaranteed to be in a well-defined, legal state after an exception occurs. It is not possible to do meaningful work on a program that has reached this state — if an object does not make one of the 3 exception guarantees then an exception should crash the application or re-initialize it to a known good state.</p>
<p>The first code snippet offers a <strong>strong </strong>exception guarantee. The select statement makes no changes to the employee data. If RetrieveTaxRate throws, taxReport is never populated and nothing is changed from before the program was run.</p>
<p>The second code snippet offers a <strong>weak </strong>guarantee. The employees data is modified inside the select delegate (you should never do this, by the way). After the exception is thrown, each employee will have a legal TotalTax value, but not necessarily a correct one (especially if the exception handler retries the method).</p>
<hr />
<p><strong>.NET Daily Quiz #017</strong></p>
<p>In C++ and some other languages, a common way to increase the performance of a program is to strategically inline particular functions. Is this capability available in C#? If so, how can we go about it? If not, why not?</p>
<p><strong>Answer:</strong></p>
<p>Since .NET 4.5 the <a href="http://msdn.microsoft.com/en-us/library/system.runtime.compilerservices.methodimplattribute.aspx">System.Runtime.CompilerServices.MethodImplAttribute</a> attribute has offered the AggressiveInlining flag, which will aggressively attempt to inline the function (although it’s still not guaranteed).</p>
<p>However like the C++ inline modifier, this should be used sparingly, if ever. For compiler-automated inlining, a method must be non-virtual, small in size (where “small” is defined by the compiler/JIT) and without complex control structures such as try/catch. I’m not sure if there are any more concrete rules behind this, I believe the JIT/compiler implementer is free to make this determination.</p>
<p>Bottom line, the compiler is (usually) smarter than you — but this doesn’t mean you shouldn’t understand what it’s doing.</p>
<hr />
<p><strong>.NET Daily Quiz #018</strong></p>
<p>How well do you know your standard .NET data structures? Let's explore System.Collections.Generic, starting today with SortedDictionary&lt;TKey,TValue&gt;                                                                </p>
<p>The following questions assume a reasonable IComparer<TKey> is supplied.</p>
<p>Do you know the underlying implementation of SortedDictionary&lt;K,V&gt;?<br />
What is the computational complexity (big-O) for <strong>retrieval </strong>from an instance of this class?<br />
What is the worst-case complexity for <strong>retrieval</strong>?</p>
<p>What is the computational complexity (big-O) for <strong>insertion </strong>into an instance of this class?<br />
What is the worst-case complexity for <strong>insertion</strong>?</p>
<p>What is the computational complexity (big-O) for <strong>removal </strong>from an instance of this class?<br />
What is the worst-case complexity for <strong>removal</strong>?</p>
<p>Do you know roughly how much memory a SortedDictionary&lt;K,V&gt; with n items occupies?</p>
<p><strong>Answer:</strong></p>
<p>The <a href="http://msdn.microsoft.com/en-us/library/f7fta44c.aspx">documentation </a>for SortedDictionary&lt;TKey,TValue&gt; tells us it is a binary search tree. If we open SortedDictionary in Decompiler we can see the underlying data structure is a TreeSet&lt;KeyValuePair&lt;TKey,TValue&gt;&gt; which derives from SortedSet&lt;T&gt;, a <a href="http://en.wikipedia.org/wiki/Red%E2%80%93black_tree">Red-Black Tree</a>.</p>
<p>Red-Black trees offer O(log <em>n</em>) complexity guaranteed across all retrieval, insertion and deletion operations. The worst case for any operation is a re-balance involving 2 rotations and 3 re-colorings of the tree, an O(1) <em>amortized </em>process.</p>
<p>Memory usage of SortedDictionary&lt;T,K&gt; is approximately 40 bytes per member (one object instance, a bool (red/black) and two references (left/right child)) plus the cost of the members and object references.<br />
Memory is not required to be contiguous, so heap fragmentation does not get out of control with large numbers of inserts/deletes.</p>
<hr />
<p><strong>.NET Daily Quiz #019</strong></p>
<p>What is the output of this application, and why? Hint: this isn't really another tricky threading question, think in terms of the IEnumerator state machine generated by the compiler.</p>
<p>{% highlight csharp %}
using System;
using System.Collections.Generic;
using System.Threading;
class Program
{
    private static IEnumerator _enumerator;
    private static bool _moved = false;
    static void Main(string[] args)
    {
        _enumerator = GetStrings();
        var t1 = new Thread(MoveEnumerator);
        var t2 = new Thread(MoveEnumerator);
        t1.Start();
            Thread.Sleep(100);
        t2.Start();
        while (!_moved)
        {
        }
        Thread.Sleep(500);
        Console.WriteLine(_enumerator.Current);
        Console.ReadLine();
    }
    static IEnumerator GetStrings()
    {
        Thread.Sleep(1000);
        yield return "hello";
        yield return "world!";
    }
    static void MoveEnumerator()
    {
        _moved = _enumerator.MoveNext();
   }
}
{% endhighlight %}
</p>
<p><strong>Answer:</strong></p>
<p>The reason we see the first item in the Enumerator block and not the second, despite having called MoveNext twice is explained by the rules of the state machine that the C# compiler generates for Enumerator blocks.</p>
<p>The following is a very brief, simplified version of the Enumerator state machine. For full details, check out the <a href="http://download.microsoft.com/download/3/8/8/388e7205-bc10-4226-b2a8-75351c669b09/csharp%20language%20specification.doc">C# spec</a>, 10.14.4 (bold for emphasis on the solution to this quiz).</p>
<p>- If enumerator state is before, MoveNext is called<br />
  - Change enumerator state to running<br />
  - Execute enumerator until interruption (either block finishes, exception is encountered or iterator block yields control)<br />
- If enumerator state is running, result of MoveNext is unspecified<br />
- If enumerator state is suspended, MoveNext is called<br />
  - Change state to running<br />
  - Resume execution of iterator from yielded position until interruption<br />
- If enumerator state is after, MoveNext is called, return false</p>
<p>In the iterator block:<br />
- When yield return is encountered<br />
  - Evaluate return expression<br />
  - Suspend execution of iterator<br />
  - Change state of iterator to suspended<br />
  - MoveNext returns true<br />
- When yield break is encountered<br />
  - Execute finally blocks as necessary<br />
  - Change state of enumerator to after<br />
  - MoveNext returns false<br />
- When iterator block is completed<br />
  - Change state of enumerator to after<br />
  - MoveNext returns false<br />
- When an exception is encountered<br />
  - Execute finally blocks as necessary<br />
  - Change state of enumerator to after<br />
  - MoveNext returns false</p>
<p>The key here (in bold) is executing MoveNext while the state is running: according to the spec the result is unspecified. In this case it appears that the call is simply ignored by the iterator and MoveNext is returning false by the second call (which actually returns first).</p>
<hr />
<p><strong>.NET Daily Quiz #020</strong></p>
<p>Users of my library are reporting resource leaks. What can I do to fix it?</p>
<p>{% highlight csharp %}
namespace MyLibrary
{
    public interface IDoThings
    {
        void Things();
    }
    public class WorkDoer where T : IDoThings, new()
    {
        public void Thinger()
        {
            var t = new T();
            t.Things();
        }
    }
    public class WorkDoerWithMember where T : IDoThings, new()
    {
        T _t;
        public void MemberThinger()
        {
            if (_t == null) _t = new T();
            _t.Things();
        }
    }
}
{% endhighlight %}
</p>
<p><strong>Answer:</strong></p>
<p>The supplied type parameter for either of our classes could implement IDisposable and this is a possibility we haven't considered in our class design. To work around this we need to defensively dispose of resources in the appropriate place.</p>
<p>For the class WorkDoer, T is only used locally in a method, so we can simply do it this way:</p>
<p>{% highlight csharp %}
public class WorkDoer where T : new(), IDoThings
{
      public void Thinger()
      {
            var t = new T();
            using (t as IDisposable)
            {
                  t.Things();
            }
      }
}
{% endhighlight %}
</p>
<p>Believe it or not this works correctly for both types that implement IDisposable and types that don't (which kind of surprised me).</p>
<p>Our second class uses T as a member so it's a bit more hairy. We need to ensure our class implements IDisposable itself and disposes or resources correctly, whether T implements IDisposable or not.</p>
<p>{% highlight csharp %}
public sealed class WorkDoerWithMember where T : new(), IDoThings, IDisposable
{
      T _t;
      public void MemberThinger()
      {
            if (_t == null) _t = new T();
            _t.Things();
      }
      public void Dispose()
      {
            var d = _t as IDisposable;
            if (d != null)
            {
                  d.Dispose();
            }
      }
}
{% endhighlight %}
</p>
<p>Note that I have marked the class as sealed. This ensures that subclasses can't reuse my Dispose method - to get around this, simply implement the full Dispose pattern (I skipped that for brevity). Also note that Dispose could be called more than once on our T object. We can't just set _t to null because our class supports value types. All IDisposable implementers must be able to handle multiple calls to Dispose, as per <a href="http://msdn.microsoft.com/en-us/library/system.idisposable.dispose.aspx">MSDN guidelines</a>:</p>
<p>"If an object's Dispose method is called more than once, the object must ignore all calls after the first one. The object must not throw an exception if its Dispose method is called multiple times."</p>
<p>Consider better ways to design these classes, particularly in light of yesterday's dependency inversion session.</p>
