---
layout: post
status: publish
published: true
title: New scriptcs script pack - MemberPrint
author:
  display_name: Martin Doms
  login: Martin Doms
  email: contact@martindoms.com
  url: http://martindoms.com
author_login: Martin Doms
author_email: contact@martindoms.com
author_url: http://martindoms.com
wordpress_id: 993
wordpress_url: http://blog.martindoms.com/?p=993
date: '2013-05-22 15:23:35 +1000'
date_gmt: '2013-05-22 03:23:35 +1000'
---
<p>I have just <a href="https://nuget.org/packages/ScriptCs.MemberPrint/">published</a> a really simple little ScriptCs (I'm still not sure if I should be capitalising that or not) <a href="http://blog.martindoms.com/2013/05/14/building-scriptcs-script-pack/">script pack</a>. It's intended to be used on the REPL. All it does it print some details about the objects and types to help you navigate the REPL more easily. As usual, the code is available <a href="https://github.com/MartinDoms/ScriptCs.MemberPrint">on GitHub</a>.</p>
<p>To install, run the following command:<br />
{% highlight csharp %}
scriptcs -install scriptcs.memberprint
{% endhighlight %}
</p>
<p>Then just run scriptcs. The easiest way to figure out the API is to run it over itself, like this:<br />
{% highlight csharp %}

c:\test>scriptcs
scriptcs (ctrl-c or blank to exit)
> var print = Require();
> print.Methods(print);
+   Constructors(Type t, BindingFlags flags, String regex, Boolean verbose) : Void
+   Constructors(Object o, Boolean verbose) : Void
+   Constructors(Object o, String regex, Boolean verbose) : Void
+   Constructors(Type type, Boolean verbose) : Void
+   Constructors(Type type, String regex, Boolean verbose) : Void
+   Constructors(Object o, BindingFlags flags, Boolean verbose) : Void
+   Constructors(Type t, BindingFlags flags, Boolean verbose) : Void
+   Constructors(Object o, BindingFlags flags, String regex, Boolean verbose) : Void
+   Equals(Object obj) : Boolean
+   Events(Object o, Boolean verbose) : Void
+   Events(Object o, String regex, Boolean verbose) : Void
+   Events(Type t, Boolean verbose) : Void
+   Events(Type t, String regex, Boolean verbose) : Void
..... (etc)

{% endhighlight %}
</p>
<p>MemberPrint supports a few filtering options. You can filter using BindingFlags, just as though you were doing the reflection yourself:<br />
{% highlight csharp %}

> print.Methods(new System.Text.RegularExpressions.Regex(""), BindingFlags.Static|BindingFlags.Public);
+ # CompileToAssembly(RegexCompilationInfo[] regexinfos, AssemblyName assemblyname) : Void
+ # CompileToAssembly(RegexCompilationInfo[] regexinfos, AssemblyName assemblyname, CustomAttributeBuilder[] attributes) : Void
+ # CompileToAssembly(RegexCompilationInfo[] regexinfos, AssemblyName assemblyname, CustomAttributeBuilder[] attributes, String resourceFile) : Void
+ # Escape(String str) : String
+ # get_CacheSize() : Int32
+ # IsMatch(String input, String pattern) : Boolean
..... (etc)

{% endhighlight %}
</p>
<p>You can also filter using regular expression text.<br />
{% highlight csharp %}

> print.Methods(new System.Text.RegularExpressions.Regex(""), "^Is.+");
+ # IsMatch(String input, String pattern) : Boolean
+ # IsMatch(String input, String pattern, RegexOptions options) : Boolean
+ # IsMatch(String input, String pattern, RegexOptions options, TimeSpan matchTimeout) : Boolean
+   IsMatch(String input) : Boolean
+   IsMatch(String input, Int32 startat) : Boolean

{% endhighlight %}
</p>
<p>You can run it over types as well as instances. Can't remember the constructors for System.DateTime?<br />
{% highlight csharp %}

> print.Constructors(typeof(DateTime))
+   .ctor(Int64 ticks)
+   .ctor(Int64 ticks, DateTimeKind kind)
+   .ctor(Int32 year, Int32 month, Int32 day)
+   .ctor(Int32 year, Int32 month, Int32 day, Calendar calendar)
+   .ctor(Int32 year, Int32 month, Int32 day, Int32 hour, Int32 minute, Int32 second)
+   .ctor(Int32 year, Int32 month, Int32 day, Int32 hour, Int32 minute, Int32 second, DateTimeKind kind)
+   .ctor(Int32 year, Int32 month, Int32 day, Int32 hour, Int32 minute, Int32 second, Calendar calendar)
+   .ctor(Int32 year, Int32 month, Int32 day, Int32 hour, Int32 minute, Int32 second, Int32 millisecond)
+   .ctor(Int32 year, Int32 month, Int32 day, Int32 hour, Int32 minute, Int32 second, Int32 millisecond, DateTimeKind kind)
+   .ctor(Int32 year, Int32 month, Int32 day, Int32 hour, Int32 minute, Int32 second, Int32 millisecond, Calendar calendar)
+   .ctor(Int32 year, Int32 month, Int32 day, Int32 hour, Int32 minute, Int32 second, Int32 millisecond, Calendar calendar, DateTimeKind kind)

{% endhighlight %}
</p>
<p>There are multiple overloads for each of the following methods:</p>
<ul>
<li>Methods(object o)</li>
<li>Properties(object o)</li>
<li>Events(object o)</li>
<li>Constructors(object o)</li>
<li>Members(object o) (this one just calls all of the others)</li>
</ul>
<p>The code is a little rough around the edges at the moment, but so far I have found it useful enough that I decided to share the script pack.</p>
