---
layout: post
status: publish
published: true
title: Solutions to some problems hosting Windows Workflow Foundation applications
  in AppFabric
author:
  display_name: Martin Doms
  login: Martin Doms
  email: contact@martindoms.com
  url: http://martindoms.com
author_login: Martin Doms
author_email: contact@martindoms.com
author_url: http://martindoms.com
wordpress_id: 976
wordpress_url: http://blog.martindoms.com/?p=976
date: '2013-05-21 15:22:37 +1000'
date_gmt: '2013-05-21 03:22:37 +1000'
---
<p>I'm trying to <a href="http://msdn.microsoft.com/en-us/library/ff729689.aspx">stand up some Windows Workflow Foundation applications in AppFabric</a> for a spike on an application I'm building and so far it has been... unpleasant. Here are a couple of solutions to some frustrating problems I encountered. Hopefully I can help save someone else a bit of time.</p>
<h4>Workflow persistence is not functional because the net.pipe binding is not enabled for this web site</h4>
<p>Encountered while trying to configure my WF service on an IIS virtual directory. In particular I encountered this error on the Workflow Persistence tab and a similar one onthe Workflow Host Management tab in the Configure WCF and WF for Application dialog.</p>
<p><a href="/images/2013-05-err03.png"><img src="/images/2013-05-err03.png" alt="Enable the net.pipe protocol" width="369" height="362" class="alignleft size-full wp-image-986" /></a>Now, in theory this will be automatically fixed when you click Apply. And in theory, even if it's not then it should be resolved by taking the following steps:</p>
<ul>
<li>Right click the web site that hosts your service in the IIS Connections pane, click Manage Websites -> Advanced Settings and add <strong>,net.pipe</strong> to the end of the "Enabled Protocols" setting (no spaces!)</li>
<li>With the same site selected, click Edit Bindings on the Actions pane and add a net.pipe binding with Binding Information = *</li>
</ul>
<p>And in theory, practice and theory are the same. But in practice, unfortunately, they are not. If you're not running Windows Server (or your install is a bit wonky) then there's an extra step to take, because you'll find that net.pipe is not an available binding type in the bindings dialog.</p>
<p><strong>To resolve</strong>: Open the "Turn Windows features on or off" dialog (find it by searching in the Start menu/screen, under Settings). Open up the Microsoft .NET 3.5 folder and tick "Windows Communication Foundation Non-HTTP Activation". This should make the net.pipe binding available to you. You may need to run iireset in a console as admin first.</p>
<hr />
<h4>Error: Unable to start debugging on the Web Server</h4>
<p>or, if you try running without debugging</p>
<h4>Error: Cannot obtain Metadata from xamlx The remote server returned an unexpected response: (405) Method Not Allowed.</h4>
<p>or, if you drill further into that error</p>
<h4>HTTP Error 404.3 - Not Found The page you are requesting cannot be served because of the extension configuration. If the page is a script, add a handler. If the file should be downloaded, add a MIME map</h4>
<p>The honest truth is I'm not sure what caused this error. I tried a whole bunch of stuff. I added some handlers to my root Web.config, installed some Workflow hosting modules in IIS, played with permissions, all kinds of stuff and I couldn't get the site to handle the .xamlx request. Ultimately here's what resolved the issue for me. The first step may not be necessary, I honestly don't know (I recommend reading the linked article). But it worked.</p>
<ul>
<li>Run <a href="http://msdn.microsoft.com/en-us/library/ms752252.aspx">the following</a> command: <em>"%WINDIR%\Microsoft.Net\Framework\v3.0\Windows Communication Foundation\ServiceModelReg.exe" -r</em></li>
<li>Uninstall and reinstall the following Windows features from the "Turn Windows features on or off" dialog: Windows Communication Foundation HTTP Activation, Windows Communication Non-HTTP Activation. They are both under the .NET Framework 3.5 feature.</li>
</ul>
<hr />
<h4>applicationHost.config : Unrecognised attribute: 'serviceAutoStartMode'</h4>
<p>After I got my workflow up and running I realised that every other service and website on my machine was broken. It seems that AppFabric stepped all over my applicationHost.config file and left an invalid attribute in there. Take a look at <a href="http://social.msdn.microsoft.com/Forums/en-US/dublin/thread/264a0703-6552-45be-837e-b7cd35f2002d">this thread</a> for the solutions to this issue.</p>
