---
layout: main
---

<div class="post type-post status-publish format-standard hentry">

<h2 class="entry-title">
	<a href="{{page.url}}" title="Permalink to New scriptcs script pack – MemberPrint" rel="bookmark">
		{{page.title}}
	</a>
</h2>

<div class="entry-meta">
	<span class="meta-prep meta-prep-author">Posted on</span> <span class="entry-date">{{ page.date | date_to_string }}</span> <span class="meta-sep">by</span> <span class="author vcard">{{ page.author.display_name }}</span></div>

	<div class="entry-content">
		{{content}}
	</div>
</div>

